html {
	overflow-x: hidden;
}

body {
	@extend .container;
	position: relative;
	overflow-x: hidden; // For out-of-bounds background images
	overflow-y: scroll;
	padding: 0;
	background: $background-color;
	color: $text-color;

	&:before,
	&:after {
		position: absolute;
		z-index: -1;
		content: '';
	}

	&:before {
		top: -165px + $topbar-height;
		left: -45px - $gutter;
		z-index: 9;
		width: 60px;
		height: 320px;
		background: url('#{$img-path}bgicon.svg') no-repeat top left;

		@media (max-width: $screen-sm-max) {
			display: none;
		}
	}
}

h3 {
	margin: $line-height 0;
	color: $color-red-dark;
	font-style: italic;
	font-family: $font-family-serif;
}

h4,
h5,
h6 {
	margin: 0 0 $line-height;
}

p,
ol,
ul,
table {
	margin-bottom: $line-height;
}

a {
	border-bottom: $border-width solid $color-gray-light;
	color: $link-color;
	text-decoration: none;
	transition: border-color $time-short, color $time-short, background-color $time-short;

	@include hover {
		border-color: $link-hover-color;
		color: $link-hover-color;
	}
}

hr {
	@include hr;
}

label {
	vertical-align: top;
	cursor: pointer;
}

input,
select,
textarea {
	min-height: $line-height;
	border: 1px solid $color-gray;
	background: $color-gray-lightest;
	outline: 0;
	padding: $line-height / 4;

	&:focus {
		background: $white;
		border-color: $link-color;
		box-shadow: 0 0 .25em rgba(#000, .2) inset;
	}
}

// 'input' prefix required for Bootstrap override
input[type=radio],
input[type=checkbox] {
	margin: 0;
}

button,
[type=button],
[type=submit] {
	@include button;
}

ul {
	margin-left: 2em;
	padding: 0;
	list-style: disc outside;
}

strong {
	font-weight: bold;
}

img {
	border: 0;
}

table {
	border-bottom: 1px solid $border-color;
}

.disabled {
	opacity: .3;
}
