body {
	@extend .container;
	background: $background-color;
	color: $text-color;
	overflow-x: hidden; // For out-of-bounds background images
	overflow-y: scroll;
	padding: 0;
	position: relative;

	&::before,
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
	}

	&::before {
		top: -165px + $topbar-height;
		left: -45px - $gutter;
		width: 380px;
		height: 320px;
		background: url('#{$img-path}bgicon.svg') no-repeat top left;
		z-index: 9;
		@media (max-width: $screen-xs-max) {
			display: none;
		}
	}

	/*
	&::after {
		top: 160px;
		right: -60px - $gutter;
		width: 75px;
		height: 114px;
		background: url('#{$img-path}linebook.gif') no-repeat 0 0;
		position: absolute;
	}
	*/
}

h4, h5, h6 {
	margin: ($line-height-base * $font-size-base) 0
}

p,
ol,
ul,
table {
	margin-bottom: $line-height-base * $font-size-base;
}

a {
	border-color: $link-hover-color;
	color: $link-color;
	text-decoration: none;

	&:hover {
		border-bottom: 1px solid;
		color: $link-hover-color;
	}
}

ul {
	list-style-type: none;
	padding: 0;
}

strong {
	font-weight: bold;
}

img {
	border: 0;
}

table {
	border-bottom: 1px solid #ddd; // TODO: Find and check td border
}