@font-face {
	font-family: 'Droid Sans';
	src: url('#{$font-path}DroidSans-webfont.eot');
	src: url('#{$font-path}DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
		 url('#{$font-path}DroidSans-webfont.woff') format('woff'),
		 url('#{$font-path}DroidSans-webfont.ttf') format('truetype'),
		 url('#{$font-path}DroidSans-webfont.svg#droid_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Droid Sans';
	src: url('#{$font-path}DroidSans-Bold-webfont.eot');
	src: url('#{$font-path}DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('#{$font-path}DroidSans-Bold-webfont.woff') format('woff'),
		 url('#{$font-path}DroidSans-Bold-webfont.ttf') format('truetype'),
		 url('#{$font-path}DroidSans-Bold-webfont.svg#droid_sansbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Droid Serif';
	src: url('#{$font-path}DroidSerif-webfont.eot');
	src: url('#{$font-path}DroidSerif-webfont.eot?#iefix') format('embedded-opentype'),
		 url('#{$font-path}DroidSerif-webfont.woff') format('woff'),
		 url('#{$font-path}DroidSerif-webfont.ttf') format('truetype'),
		 url('#{$font-path}DroidSerif-webfont.svg#droid_serifregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Droid Serif';
	src: url('#{$font-path}DroidSerif-Bold-webfont.eot');
	src: url('#{$font-path}DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('#{$font-path}DroidSerif-Bold-webfont.woff') format('woff'),
		 url('#{$font-path}DroidSerif-Bold-webfont.ttf') format('truetype'),
		 url('#{$font-path}DroidSerif-Bold-webfont.svg#droid_serifregular') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Droid Serif';
	src: url('#{$font-path}DroidSerif-Italic-webfont.eot');
	src: url('#{$font-path}DroidSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('#{$font-path}DroidSerif-Italic-webfont.woff') format('woff'),
		 url('#{$font-path}DroidSerif-Italic-webfont.ttf') format('truetype'),
		 url('#{$font-path}DroidSerif-Italic-webfont.svg#droid_serifregular') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Droid Serif';
	src: url('#{$font-path}DroidSerif-BoldItalic-webfont.eot');
	src: url('#{$font-path}DroidSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('#{$font-path}DroidSerif-BoldItalic-webfont.woff') format('woff'),
		 url('#{$font-path}DroidSerif-BoldItalic-webfont.ttf') format('truetype'),
		 url('#{$font-path}DroidSerif-BoldItalic-webfont.svg#droid_serifregular') format('svg');
	font-weight: bold;
	font-style: italic;
}
