<!-- This template is not yet fully BEMed. Is it used? -->

<!-- ###NOSEARCHINDEX### BEGIN-->
	<span class="warning">###WARNMESSAGE###</span>
<!-- ###NOSEARCHINDEX### END-->
<br />
<!-- ###TOC### BEGIN-->
	<!-- ###TOCLINE### BEGIN-->
	###SPANOPEN###
	<form id="form_###ANKER###" method="post"><input type="hidden" name="IDDOC" value="###ANKER###"></form>
		<table class="tx_goobit3_pi3_tocline">
			<tr class="tx_goobit3_pi3_tocline">
				<td class="tx_goobit3_pi3_tocline_clear">###CLEAR###</td>
				<td class="tx_goobit3_pi3_tocline_expand">###SYMBOL###</td>
				<td class="tx_goobit3_pi3_tocline_title"><a href="###LINK###" alt="###ALT###" title="###ALT###">###TITLE###</a>###CREATOR###</td>
				<td class="tx_goobit3_pi3_tocline_page"><a href="###LINK###" alt="###ALT###" title="###ALT###">###PAGE###</a></td>
			</tr>
		</table>
	###SPANCLOSE###
	<!-- ###TOCLINE### END-->
	<div class="tx-goobit3-pi3_shadowright"><img class="tx-goobit3-pi3_topright" src="/fileadmin/layout/shadow_righttopright.jpg" alt="" title=""></div><div class="tx-goobit3-pi3_shadowbottom"><img class="tx-goobit3-pi3_bottomleft" src="/fileadmin/layout/shadow_leftbottomleft.jpg" alt="" title=""><img class="tx-goobit3-pi3_bottomright" src="/fileadmin/layout/shadow_leftbottomright.jpg" alt="" title=""></div>
<!-- ###TOC### BEGIN-->
<br />

