<!-- ###SSEARCH### BEGIN-->
	<!-- ###SSEARCHFORM### BEGIN -->
	<div class="goobit3-search">
		<h4>###SEARCHTITLE###</h4>
		<form class="goobit3-search__form" action="###FORM_ACTION###" method="post">
			###HIDDEN###
			<label>
				<span class="sr-only">Suchbegriff:</span>
				<input class="goobit3-search__input" size="25" name="formquery" value="###FORM_SQUERY_VALUE###">
			</label>
			<input class="goobit3-search__submit" type="submit" value="&#xf002;" title="Suchen">
		</form>
	</div>
	<!-- ###SSEARCHFORM### END -->
<!-- ###SSEARCH### END-->
