<!-- ###SSEARCH### BEGIN-->
    <!-- ###SSEARCHFORM### BEGIN -->
    <div id="tx-goobit3-search">
        <h4>###SEARCHTITLE###</h4>
        <form id="tx-goobit3-search_formstartpage" action="###FORM_ACTION###" method="post">
            ###HIDDEN###
            <input type="hidden" name="tx_goobit3_search[default]" value="METADATA" />
            <input id="searchforminput" size="30" name="formquery" value="###FORM_SQUERY_VALUE###" />
            <input id="send" type="submit" value="Suchen" />
            
        </form>
        <br />
    </div>
    <!-- ###SSEARCHFORM### END -->
<!-- ###SSEARCH### END-->
