<!--- ###PPNXML### BEGIN --><?xml version="1.0" encoding="UTF-8"?>
<response ###XMLATTRIBUTE###>
	<header>
		<version>0.1</version>
	</header>
	<resolvedLPIs>
		<LPI>
			<requestedLPI>###REQUESTLPI###</requestedLPI>
			<service>DigiZeitschriften Document Server</service>
			<servicehome>http://www.digizeitschriften.de</servicehome>
			###URLTAG###
			<version/>
		</LPI>
	</resolvedLPIs>
</response>
<!--- ###PPNXML### END -->
<!-- ################################################################################################### -->
