<!-- This template is not yet fully BEMed. Is it used? -->

<!-- ###NOSEARCHINDEX### BEGIN-->
<div class="goobit3-search">
	<span class="warning">###WARNMESSAGE###</span>
</div>
<!-- ###NOSEARCHINDEX### END-->
###TESTURL###

<!-- ###SSEARCH### BEGIN-->
<div class="goobit3-search">
	<div class="goobit3-pagination">
		<ol class="goobit3-pagination__list">
			<!-- ###BROWSEBARTOP### START -->
				###RESULTFIRSTPRE###
				###RESULTPREVPRE###
				###RESULTLINK###
				###RESULTNEXTPOST###
				###RESULTLASTPOST###
			<!-- ###BROWSEBARTOP### END -->
		</ol>
	</div>

	<!-- ###SSEARCHHIT### BEGIN -->
		<b>###TITLE###</b>&nbsp;###PUBLISHER###<!-- ###MOVINGWALL_PRE### &nbsp(Moving Wall: ###MOVINGWALL###) ###MOVINGWALL_POST### //-->
	<!-- ###SSEARCHHIT### END -->
</div>
<!-- ###SSEARCH### END-->
