<!-- ###NOSEARCHINDEX### BEGIN-->
	<span class="warning">###WARNMESSAGE###</span>
<!-- ###NOSEARCHINDEX### END-->

<!-- ###BROWSECOLLECTION### BEGIN-->
<div  id="tx-goobit3-browse">
	<ul>
    <!-- ###COLLECTIONLIST### BEGIN-->
		<li class="tx-goobit3-browse_browsecollection">
            <a class="fa fa-rss-square" href='/rss/###DDC###' target="_blank" title="RSS Feed"></a>&nbsp;###COLLECTION###
        </li>
    <!-- ###COLLECTIONLIST### END -->
	</ul>
</div>
<!-- ###BROWSECOLLECTION### END-->
