// TODO: BEM this

#tx-drwiki {
	padding: 5px;
	width: 640px;
	border-right: 1px dotted $color-gray-light;
	border-left: 1px dotted $color-gray-light;

	td {
		padding: 3px;
	}

	a {
		border: 0;
		text-decoration: none;

		@include hover {
			text-decoration: underline;
		}
	}

	.notCreated {
		color: $color-red-light;
	}

	ul {
		list-style-type: disc;
	}

	ol {
		&.references {
			font-size: 9pt;

			> li:target {
				background-color: $color-blue-light;
			}
		}

		&.references-2column {
			font-size: 9pt;
			//Instead of the line below you could use @includecolumn-count($count)
			column-count: 2;
		}
	}

	.editsection {
		float: right;
		margin-left: 5px;
	}

	pre {
		padding: 1em;
		border: $color-blue 1px dashed;
		background-color: $color-gray-lightest;
		color: black;
		font-family: $font-monospace;
		line-height: 1.1em;
	}

	input {
		font-size: 10pt;
	}

	textarea {
		width: 100%;
		font-size: 10pt;
	}

	input,
	textarea {
		border: 1px $color-gray-light solid;
		background: $color-gray-lightest;
		color: $color-gray-dark;
	}

	.reference:target {
		background-color: $color-blue-light;
	}

	[type=text]:focus {
		border-color: $color-gray-dark;
		background: $color-gray-lightest;
		color: $color-gray-darker;
	}
}

.tx-drwiki-pi1-urlextension {
	display: none;
}

.wiki-box {
	padding: 1em;
	border: $color-blue 1px dashed;
	background-color: $color-gray-lightest;
	color: black;
	line-height: 1.1em;
}

.wiki-box-blue,
.wiki-box-red,
.wiki-box-green,
.wiki-box-yellow {
	display: block;
	padding: .5em;
	color: black;
	font-size: 1em;
}

.wiki-box-blue {
	border-left: 8px $color-blue solid;
	background: $color-blue-light;
}

.wiki-box-red {
	border-left: 8px $color-pink solid;
	background: $color-pink-light;
}

.wiki-box-green {
	border-left: 8px $color-green solid;
	background: $color-green-light;
}

.wiki-box-yellow {
	border-left: 8px $color-yellow solid;
	background: $color-yellow-light;
}

.wiki-box-catlinks {
	clear: both;
	margin-top: 1em;
	padding: 5px;
	border: 1px solid $color-gray;
	background-color: $color-gray-lightest;
}

.wiki-table {
	margin: 1em 1em 1em 0;
	border: 1px $color-gray solid;
	border-collapse: collapse;
	background: $color-gray-lightest;
}
