.tx_felogin_pi1-inputtext {
	width: 390px;
	height: 22px;
	background: $color_stonewall_approx;
	border-top: 1px solid $color_soya_bean_approx;
	border-left: 1px solid $color_soya_bean_approx;
	border-bottom: 1px solid $color_nomad_approx;
	border-right: 1px solid $color_nomad_approx;
	font-size: 1.2em;
	color: $white;
}