.tx-femanager {
	form {
		@extend .form-horizontal;
	}

	.femanager_fieldset {
		@extend .form-group;
	}

	label {
		@extend .col-md-3;

		&.radio {
			@extend .radio-inline;
		}
	}

	.controls {
		@extend .col-md-5;
	}

	[type=text],
	[type=password],
	[type=file],
	textarea,
	select {
		@extend .form-control;
	}

	.alert {
		padding: $gutter;
	}

	.alert-error {
		@extend .alert-danger;
	}
}

.qq-uploader__button {
	@include button;
}

.qq-uploader__list {
	list-style: none;
	margin-left: 0;
}

.qq-uploader__delete {
	@include fa-icon('trash', true)
}
