#tx-goobit3-search {

	img {
		border: 0;
		display: inline;
		vertical-align: top;

		&.lock {
			margin-top: 1px;
		}

		&:hover {
			border: 0;
			background: white;
		}
	}

}

#tx-goobit3-search_form,
#tx-goobit3-search_formstartpage {
	position: relative;
}

#tx-goobit3-search_proposal {

}

#tx-goobit3-search_prefix {

}

#tx-goobit3-search_input {

}

#tx-goobit3-search_proposalline {
	width: 100%;

	&:hover {
		color: white;
		background-color: $color-red-dark;
	}
}

#tx-goobit3-browse {

	li {
		@include clearfix;
		padding-left: 1.25em;
		position: relative;
		@media (max-width: $screen-sm-max) {
			margin-bottom: $line-height / 2;
		}

		a {
			border: 0;
			display: block;
			padding-right: 1.25em;

			@include hover {
				border: 0;
			}
		}

		.rss {
			padding: 0;
			position: absolute;
			right: 0;
			top: round($line-height / 5);
		}

		&::before {
			color: $color-gray-light;
			content: 'ï”'; // chevron-right
			float: left;
			font-family: 'FontAwesome';
			margin-left: -1.25em;
		}
	}
}

.tx-goobit3-toc {

}

#tx-goobit3-toc_toc_current {
	font-weight: bold;
	background-color: $color-brown-lighter;

	.tx-goobit3-toc_space {
		vertical-align: top;
		float: left;
	}
}

#tx-goobit3-toc_toc {
	.succeeding {
	}

	.tx-goobit3-toc_space {
		vertical-align: top;
		float: left;
	}

	.comment {
		color: $color-gray-darker;

		div {
		}

		img {
		}

		hr {
			@include hr;
		}
	}
}

#tx-goobit3-met_head {
}

#tx-goobit3-met_section {
	.tx-goobit3-met {
	}

	.tx-goobit3-met_hr {
	}

	.comment {

		img {
		}

		div {
		}

	}
}

#tx-goobi-img_head {

	.comment {

		div {
		}

		img {
		}

		hr {
			@include hr;
		}
	}

	.maintitle {
		font-weight: bold;
	}

	.maintitle_pdf {
		float: left;
	}

	.purl {
		font-weight: bold;
	}

	.maintitle_pdf:hover {
		background: none;
	}
}

#tx-goobit3-img_form {

	.form_input {
	}

	.form_select {
	}
}

#tx-goobit3-img_form_bottom {
	text-align: right;
}

#tx-goobit3-img_image {
	border: $border;
	clear: both;
	overflow: auto;
	text-align: center;

	.image {
	}

	.fulltext {

	}

	.highlight {
		color: $color-red-dark;
		font-weight: bold;
		text-decoration: none;
	}
}

#tx-goobit3-img_pageturn div {
	text-align: center;
	float: left;
}

#searchforminput {
	border: $border-width solid $border-color;
	padding: $gutter - $border-width;
	width: 100%;

	&:focus {
		background: $color-brown-lightest;
	}
}

#send {
	background: none;
	border: 0;
	font-family: 'FontAwesome';
	font-size: $font-size-large;
	width: ($gutter * 2 - $border-width * 2 + $line-height);
	height: ($gutter * 2 - $border-width * 2 + $line-height);
	position: absolute;
	right: 0;
	top: 0;
}

.goobit3-pagination {
	text-align: center;
	ol {
		@extend %horizontal-link-list;
	}
}

.goobit3-results {
	display: table;
	list-style: none;
	padding: 0;
}

.goobit3-item {
	display: table-row;
	> div {
		display: table-cell;
		padding-bottom: $line-height;
		+ div {
			padding-left: 1em;
		}
	}
}

.goobit3-item-thumbnail {
	// TODO
}

.goobit3-item-index {
	color: $text-color-light;
	font-weight: bold;
	text-align: right;
}

.goobit3-item-info {
	width: 100%;
}