#tx-goobit3-search {

	img {
		border: 0;
		display: inline;
		vertical-align: top;

		&.lock {
			margin-top: 1px;
		}

		&:hover {
			border: 0;
			background: white;
		}
	}

}

#tx-goobit3-search_form,
#tx-goobit3-search_formstartpage {
	position: relative;
}

#tx-goobit3-search_proposal {
	position: absolute;
	right: 70px;
	top: 50px;
	width: 465px;
	background: white;
	border: 0;
	font-size: 1.2em;
	overflow: hidden;
	padding: 6px 0 10px 10px;
	z-index: 999;
}

#tx-goobit3-search_prefix {
	position: relative;
	top: 2px;
	width: 200px;
	text-align: right;
	float: left;
}

#tx-goobit3-search_input {
	position: relative;
	top: 0;
	width: 300px;
	float: left;
	margin: 2px;
	white-space: nowrap;
}

#tx-goobit3-search_proposalline {
	width: 100%;

	&:hover {
		color: white;
		background-color: $color-red-dark;
	}
}

#tx-goobit3-browse {

	li {
		@include clearfix;
		padding-left: 1.25em;
		position: relative;
		@media (max-width: $screen-sm-max) {
			margin-bottom: $line-height / 2;
		}

		a {
			border: 0;
			display: block;
			padding-right: 1.25em;

			&:hover {
				border: 0;
			}
		}

		.rss {
			padding: 0;
			position: absolute;
			right: 0;
			top: round($line-height / 5);
		}

		&::before {
			color: $color-gray-light;
			content: ''; // chevron-right
			float: left;
			font-family: 'FontAwesome';
			margin-left: -1.25em;
		}
	}
}

.tx-goobit3-toc {
	position: relative;
	width: 600px;
	border: solid 1px black;
	margin-top: 30px;
	margin-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	border: solid 1px black;
}

#tx-goobit3-toc_toc_current {
	font-weight: bold;
	background-color: $color-brown-lighter;

	.tx-goobit3-toc_space {
		vertical-align: top;
		float: left;
	}
}

#tx-goobit3-toc_toc {
	.succeeding {
		margin-left: 75px;
		margin-right: 75px;
	}

	.tx-goobit3-toc_space {
		vertical-align: top;
		float: left;
	}

	.comment {
		font-size: 1.1em;
		color: $color-gray-darker;
		margin-left: 75px;
		margin-right: 75px;

		div {
			height: 110px;
			min-height: 70px;
		}

		img {
			margin-left: 2px;
			margin-right: 15px;
		}

		hr {
			@include hr;
		}
	}
}

#tx-goobit3-met_head {
	margin-left: 75px;
	margin-right: 75px;
}

#tx-goobit3-met_section {
	.tx-goobit3-met {
		position: relative;
		width: 800px;
		margin-top: 30px;
		margin-left: 30px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.tx-goobit3-met_hr {
		margin-left: 75px;
		margin-right: 75px;
	}

	.comment {
		display: block;
		font-size: 1.1em;
		color: $color-gray-darker;
		margin-left: 75px;
		margin-right: 75px;

		img {
			margin-left: 2px;
			margin-right: 15px;
		}

		div {
			height: 110px;
			min-height: 70px;
		}

		hr {
			@include hr;
		}
	}
}

#tx-goobi-img_head {
	margin-left: 75px;
	margin-right: 75px;

	.comment {

		div {
			height: 110px;
			min-height: 70px;
		}

		img {
			margin-left: 2px;
			margin-right: 15px;
		}

		hr {
			@include hr;
		}
	}

	.maintitle {
		font-weight: bold;
	}

	.maintitle_pdf {
		float: left;
	}

	.purl {
		font-weight: bold;
	}

	.maintitle_pdf:hover {
		background: none;
	}
}

#tx-goobit3-img_form {
	margin-left: 75px;

	.form_input {
		display: block;
		float: left;
		margin: 3px;
		padding: 0;
	}

	.form_select {
		display: block;
		float: left;
		height: 20px;
		margin: 3px;
		padding: 0;
		border: solid 1px black;
	}
}

#tx-goobit3-img_form_bottom {
	text-align: right;
	margin-right: 75px;
}

#tx-goobit3-img_image {
	width: 802px;
	overflow: auto;
	margin-left: 75px;
	text-align: center;

	.image {
		border: solid 1px black;
	}

	.fulltext {
		border: solid 1px black;
		padding: 10px 250px 10px 10px;
		margin-bottom: 5px;

		p {
			color: black;
		}
	}

	.highlight {
		color: $color-red-dark;
		font-weight: bold;
		text-decoration: none;
	}
}

#tx-goobit3-img_pageturn div {
	text-align: center;
	float: left;
}

#searchforminput {
	border: $border-width solid $border-color;
	padding: $gutter - $border-width;
	width: 100%;

	&:focus {
		background: $color-brown-lightest;
	}
}

#send {
	background: none;
	border: 0;
	font-family: 'FontAwesome';
	font-size: $font-size-large;
	width: ($gutter * 2 - $border-width * 2 + $line-height);
	height: ($gutter * 2 - $border-width * 2 + $line-height);
	position: absolute;
	right: 0;
	top: 0;
}
