.tx-irfaq-item {
	border-bottom: 1px dotted $border-color;
}

.tx-irfaq-dynheader {
	display: table;
	padding: ($line-height / 3) 0;
	width: 100%;
	table-layout: fixed;
	font-weight: bold;
	cursor: pointer;

	@include hover {
		color: $link-hover-color;
	}

	.fa {
		display: table-cell;
		width: 1.5em;

		//TODO: Add icon: @include fa-icon(?);
	}
}

.tx-irfaq-toggle-plus .fa {
	@extend .fa-plus-square;
}

.tx-irfaq-toggle-minus .fa {
	@extend .fa-minus-square;
}

.tx-irfaq-dynans {
	padding: ($line-height * 2/3) 0 0;
}
