.tx-irfaq-pi1 {
	ul {
		&.tx-irfaq-questions-list {
			margin-bottom: 75px;
		}

		li a {
			color: black;
			text-decoration: none;

			&:hover {
				color: black;
				text-decoration: underline;
			}

			p.bodytext {
				margin: 0;
				display: inline;
				font-weight: bold;
			}
		}
	}

	.tx-irfaq-answer {
		margin-bottom: 10px;

		h4 p.bodytext {
			margin: 0;
			display: inline;
			font-weight: bold;
		}
	}

	dd {
		margin-left: 0;

		p {
			margin-top: 0;
		}
	}

	.additional-info {
		border-top: 2px solid $color-gray-lighter;
		margin-bottom: 10px;
	}

	.irfaq-related-faq,
	.irfaq-related-links {
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 3px;
		margin-bottom: 15px;
	}

	dt p {
		font-weight: bold;
		margin: 0;
		display: inline;
	}

	dl {
		@extend .panel-group;

		.item {
			@extend .panel;
			@extend .panel-default;

			dt {
				@extend .panel-title;
				@extend .panel-heading;

			}

			dd {
				@extend .panel-body;
				@extend .panel-collapse;
				@extend .collapse;
				@extend .in;
			}
		}

	}
}

.tx-irfaq-cleaner {
	clear: left;
	height: 1px;
}

.tx-irfaq-dynheader {
	cursor: pointer;
	color: $color-red-dark;
}

.tx-irfaq-dynans-hidden {
	display: none;
}

.tx-irfaq-dynans-visible {
	display: inline;
}

dt.tx-irfaq-pi1 {
	color: $color-red-dark;
	text-decoration: none;
}
