.irfaq__item {
	border-bottom: 1px dotted $border-color;
}

.irfaq__question {
	display: table;
	padding: ($line-height / 2) 0;
	width: 100%;
	table-layout: fixed;
	cursor: pointer;

	@include hover {
		color: $link-hover-color;
	}

	&:before {
		@include fa-icon('plus-square');
	}

	&--minus:before {
		@include fa-icon('minus-square');
	}

	&:before {
		display: table-cell;
  		width: 1.5em;
	}
}

.irfaq__answer {
	display: none;
	padding: ($line-height / 2) 0 0;
}
