.ttaddress__filter {
	@include search-input;
	margin-bottom: $line-height;
	max-width: 28em;
}

.ttaddress__clear-filter {
	@include fa-icon('close');
	background: none;
	border: 0;
	color: $text-color-light;
	cursor: pointer;
	display: none;
	margin: ($line-height / 1.5) 0 0 (-$line-height * 1.25);
	position: absolute;
	padding: 0;

	@include hover {
		background: none;
		color: $link-hover-color;
		outline: 0 !important;
	}
}

.ttaddress__item {
	margin-bottom: $line-height - 1px;
	border-bottom: $border;

	&--short {
		margin-bottom: $line-height;
		border-bottom: 0;
	}

	img {
		float: left;
		margin: 0 1em 1em 0;
	}
}
