Build/.sass-cache
Build/bower_components
Build/node_modules
Build/logs
Build/pdepend
Build/lib
Build/tmp
Resources/Public/JavaScript/production*.js*
Resources/Public/Css/adw.css
Resources/Public/Css/germania-sacra.css
Resources/Public/Css/edfu.css
Resources/Private/Scss/_libs.scss
Resources/Private/Scss/_Includes/_FontAwesome/*
.gradle
.sass-cache
.idea
.jruby
Documentation/_make/build/
*.iml

package.json
gulpfile.js
node_modules