Build/.sass-cache
Build/bower_components
Build/node_modules
Build/logs
Build/pdepend
Build/lib
Build/tmp
Resources/Public/JavaScript/production*.js*
scss-lint.log
.gradle
.sass-cache
.idea
.jruby
Documentation/_make/build/
*.iml

node_modules
tests/_output/*