<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Adress Template für Abonnenten</title>
</head>
<body>

<!--
Markers you can use:

###UID###
###FIRSTNAME###
###MIDDLENAME###
###LASTNAME###
###TITLE###
###EMAIL###
###PHONE###
###MOBILE###
###WWW###
###ADDRESS###
###ORGANIZATION###
###CITY###
###ZIP###
###REGION###
###COUNTRY###
###IMAGE###
###FAX###
###DESCRIPTION###
###MAINGROUP###
###GROUPLIST###


-->

<!-- ###TEMPLATE_ADDRESS### beginn -->
<div id="address">
    <a name="address###UID###" title="###LASTNAME###" alt="###LASTNAME###"></a>
    ###LASTNAME###
    <p>
        ###IMAGE###
        ###ADDRESS###
        ###ZIP### ###CITY###
        ###WWW###
        ###FAX###
        ###PHONE###
    </p>
    ###DESCRIPTION###
    <p align="right" class="description"><a href="javascript:window.scrollTo(0,300)">to top</a></p>
</div>
<!-- ###TEMPLATE_ADDRESS### end -->

</body>
</html>
