<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Adress Template für Abonnenten-Navigation nach Land</title>
</head>
<body>

<!--
Markers you can use:

###UID###
###FIRSTNAME###
###MIDDLENAME###
###LASTNAME###
###TITLE###
###EMAIL###
###PHONE###
###MOBILE###
###WWW###
###ADDRESS###
###ORGANIZATION###
###CITY###
###ZIP###
###REGION###
###COUNTRY###
###IMAGE###
###FAX###
###DESCRIPTION###
###MAINGROUP###
###GROUPLIST###


-->

<!-- ###TEMPLATE_ADDRESS### beginn -->
<div class="ttaddress__item ttaddress__item--short">
	<a href="#address###UID###" title="###LASTNAME###" alt="###LASTNAME###">###COUNTRY###</a>
</div>
<!-- ###TEMPLATE_ADDRESS### end -->

</body>
</html>
