@import '_Includes/Settings';
@import 'bootstrap';
@import 'mixins';

/*

CSS-Datei für die Gestaltung des Layouts der Seite.
    - Zentriert die Seite
    - legt Hintergrundbilder an
    - positioniert die Hauptelemente (Navigation, Header, Fußbereich, etc.)
    - Definiert erste HTML-Strukturelemente (Grundsätzliche Textoptik, Überschrift etc.)

*/

/* ----------------- [ allgemeine Definitionen ] -------------------------------------------- */

* {
	margin: 0;
	padding: 0;
}

body {
	background: #7e756a linear-gradient(rgba(#000, .2), rgba(#000, 0)) repeat-x fixed;
	color: $gray-darker;
}

a {
	text-decoration: none;
	border-bottom: 1px dotted #900;
}

a:visited {
	color: #600;
	text-decoration: none;
	border-bottom: 1px dotted #600;
}

a:hover {
	border-bottom: 1px solid #900;
	background: #900;
}

ul {
	list-style-type: none;
}

strong {
	font-weight: bold;
}

#header h2,
#sitenav,
#fastsearch label,
#nav h3,
#fastsearch h3,
.hidden {
	display: none;
}

img {
	border: none;
}

.wrapper {
	@extend .container;
	position: relative;
	text-align: left;
	margin: 0 auto;
}

/* ----------------- [ / allgemeine Definitionen ] ------------------------------------------ */

/* ----------------- [ Hintergrundgrafiken, Header & Breadcrumb ] --------------------------- */
#bgicon {
	position: absolute;
	top: 0;
	left: -50px;
	width: 400px;
	height: 300px;
	background: url(/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/bgicon.gif) no-repeat top left;
}

#linebook {
	position: absolute;
	top: 163px;
	right: -45px;
	width: 75px;
	height: 114px;
	background: url(/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/linebook.gif) no-repeat 0 0;
}

#homelink {
	position: absolute;
	top: 10px;
	left: 20px;
	height: 80px;
	width: 360px;
	background: url(/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/digizeit_logo.png) no-repeat 0 0;
	text-indent: -2000px;
	overflow: hidden;
	border-bottom: none;
}

/* ----------------- [ / Hintergrundgrafiken, Header & Breadcrumb ] ------------------------- */

/* ----------------- [ Aufbau des Inhalts (Spalten etc.) ] ---------------------------------- */

.content {
	margin-top: 110px;
	position: relative;
	top: 0;
	left: 0;
	//background: url(/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/bgwrapper.png) repeat-y;
	background: #fff;
	box-shadow: 0 0 25px rgba(#000, .5);
	//padding: 0 17px 0 23px;
	display: block;
	padding: 15px;
	table {
		@extend .table;
	}
}

#maincol,
#maincol_full {
	top: 0;
	left: 0;
	margin: 0 0 0 65px;
	color: #222;
	min-height: 30px;
}

#maincol {
	@extend .col-md-7;
	padding: 0 0 50px 0;
}

#maincol_full {
	@extend .col-md-8;
	padding: 0;
}

/*-------------------- Sitemap ---------------------------------------------------*/

.sitemap_level1 {
	margin-left: 10px;
}

.sitemap_level2 {
	margin-left: 20px;
}

.sitemap_level3 {
	margin-left: 30px;
}

.sitemap_level4 {
	margin-left: 40px;
}

// TODO: Order
@import '_Includes/Structure/Header';
@import '_Includes/Structure/Breadcrumb';
@import '_Includes/Structure/Language';
@import '_Includes/Structure/Navigation';
@import '_Includes/Structure/Submenu';
@import '_Includes/Structure/Fastsearch';
@import '_Includes/Structure/Login';
@import '_Includes/Structure/Content';
@import '_Includes/Structure/Footer';

@import '_Includes/Extensions/felogin';
@import '_Includes/Extensions/irfaq';
@import '_Includes/Extensions/drwiki';
@import '_Includes/Extensions/goobit3';
@import '_Includes/Extensions/femanager';
