%horizontal-link-list {
	display: block;
	font-weight: bold;
	line-height: 1;
	list-style: none;
	margin-left: -.25em;
	padding: 0;

	li {
		border-right: $border;
		float: left;
		padding: (($line-height - $font-size-base) / 2) .25em;

		&:last-child {
			border-right: 0;
		}

		@media (max-width: $screen-sm-max) {
			border: 0;
			float: none;
			margin-bottom: ($line-height * 2 - $font-size-base);

			&:last-child {
				margin: 0;
			}
		}
	}

	a,
	span {
		border: 0 !important;
		//border-radius: .25em;
		float: left;
		margin: -10px 0;
		min-width: 2em;
		padding: .5em;
	}

	a {
		@include hover {
			background: $link-color;
			color: #fff;
		}
	}

	.disabled {
		a,
		span {
			color: $text-color-light;
		}
	}

	.active a,
	.sub_act {
		background: $active-color;
		color: #fff;
	}
}
