%pagination {
	font-weight: bold;
	line-height: 1;
	text-align: center;

	ol {
		display: inline-block;
		list-style: none;
		margin: $line-height 0;
		padding: 0;
	}

	li {
		float: left;
		padding: 6px 3px;

		+ li {
			border-left: $border;
		}
	}

	a,
	span {
		border: 0 !important;
		border-radius: .25em;
		float: left;
		margin: -10px 0;
		min-width: 2em;
		padding: .5em;
	}

	a {
		@include hover {
			background: $link-color;
			color: #fff;
		}
	}

	.disabled {
		a,
		span {
			color: $text-color-light;
		}
	}

	.active a {
		background: $active-color;
		color: #fff;
	}
}
