%horizontal-link-list {
	display: inline-block;
	font-weight: bold;
	line-height: 1;
	list-style: none;
	margin: ($line-height / 2) -3px; // negative value of li
	padding: 0;

	li {
		border-right: $border;
		float: left;
		padding: 6px 3px;
		&:last-child {
			border-right: 0;
		}
	}

	a,
	span {
		border: 0 !important;
		//border-radius: .25em;
		float: left;
		margin: -10px 0;
		min-width: 2em;
		padding: .5em;
	}

	a {
		@include hover {
			background: $link-color;
			color: #fff;
		}
	}

	.disabled {
		a,
		span {
			color: $text-color-light;
		}
	}

	.active a,
	a.sub_act {
		background: $active-color;
		color: #fff;
	}
}
