@mixin hr {
	background: none;
	height: $line-height - 1px;
	border: 0;
	border-bottom: $border-width dotted $border-color;
	margin: 0 0 $line-height;
}

@mixin button {
	@extend .btn;
	@extend .btn-default;
	background: $color-gray-lightest;

	&:active,
	&:focus,
	&:hover {
		color: $link-hover-color;
	}
}

@mixin input($type: 'dark') {
	@extend .form-control;
	@if $type == 'dark' {
		color: white;
		background: rgba(black, .25);
	}
}
