@mixin button($type: 'dark') {
	@extend .btn;
	@extend .btn-default;
	@extend .pull-right;
	border: 0;
	padding: 5px;
	box-shadow: 0 0 1px 1px rgba(black, .5);

	@if $type == 'dark' {
		background: rgba(white, .25);
		color: white;
	}
}

@mixin hr {
	color: $color-gray-darker;
	background-color: black;
	height: 1px;
	border: 0;
	margin-top: 3px;
	margin-bottom: 3px;
}

@mixin input($type: 'dark') {
	@extend .form-control;
	border: 0;
	box-shadow: 0 0 1px 1px rgba(black, .5) inset;
	width: auto;
	@if $type == 'dark' {
		color: white;
		background: rgba(white, .25);
	}
}

// TODO: Replace with SVG
@mixin wedge($position, $direction, $width, $height, $left: 50%) {
	&:before,
	&:after {
		content: '';
		display: block;
		width: $width;
		height: $height;
		position: absolute;
		left: $left;

		@if $position == 'top' {
			top: if($direction == 'up', -$height, 0);
		} @else if $position == 'bottom' {
			bottom: if($direction == 'up', 0, -$height);
		}
	}

	&:before {
		margin-left: 1px - $width;
	}

	@if $direction == 'up' {
		&:before {
			background-image: radial-gradient(0 0, ellipse, rgba($color-brown-lighter, 0) $width, rgba($color-brown-lighter, 1) $width + 1px);
		}

		&:after {
			background-image: radial-gradient(100% 0, ellipse, rgba($color-brown-lighter, 0) $width, rgba($color-brown-lighter, 1) $width + 1px);
		}
	} @else {
		&:before {
			background-image: radial-gradient(0 100%, ellipse, rgba($color-brown-lighter, 0) $width, rgba($color-brown-lighter, 1) $width + 1px);
		}

		&:after {
			background-image: radial-gradient(100% 100%, ellipse, rgba($color-brown-lighter, 0) $width, rgba($color-brown-lighter, 1) $width + 1px);
		}
	}
}
