@mixin hr {
	margin: 0 0 $line-height;
	height: $line-height - 1px;
	border: 0;
	border-bottom: $border-width dotted $border-color;
	background: none;
}

@mixin button {
	@extend .btn;
	@extend .btn-default;
	min-width: $line-height;
	min-height: $line-height;
	border: 1px solid $color-gray-lighter;
	background: $color-gray-lighter;
	line-height: $line-height !important; //TODO
	transition: all $time-short;

	@include hover {
		border-color: $link-hover-color;
		background: $link-hover-color;
		color: $color-gray-lightest;
	}
}

@mixin fa-icon($name, $with-text: true) {
	@extend .fa;
	@extend .fa-#{$name};

	@if $with-text {
		&:before {
			margin-right: .5em;
		}
	}
}

@mixin input {
	@extend .form-control;
}

@mixin horizontal-link-list($responsive: true) {
	@include clearfix;
	display: block;
	margin: 0 -.25em;
	padding: 0;
	list-style: none;
	font-weight: bold;
	line-height: 1;

	li {
		float: left;
		margin-bottom: $line-height;
		padding: (($line-height - $font-size-base) / 2) .25em;
		border-right: $border;

		&:last-child {
			border-right: 0;
		}

		@if($responsive) {
			@media(max-width: $screen-sm-max) {
				float: none;
				margin-bottom: ($line-height * 2 - $font-size-base);
				border: 0;

				&:last-child {
					margin: 0;
				}
			}
		}

	}

	a,
	span {
		float: left;
		margin: -10px 0;
		padding: .5em;
		min-width: 2em;
		border: 0 !important;
	}

	a {
		text-align: center;

		@include hover {
			background: $link-color;
			color: $white;
		}
	}

	.disabled {
		a,
		span {
			color: $text-color-light;
		}
	}

	.active a {
		background: $active-color;
		color: $white;
	}
}

@mixin hover {
	&:hover,
	&:focus,
	&:active {
		@content;
	}
}

@mixin off-canvas($horizonal-position: 'left') {
	top: 0;
	z-index: 0;
	width: 61.8%;
	height: 100%;
	background: $off-canvas-color;
	@if $horizonal-position == 'right' {
		right: 0;
	}

	&.active {
		z-index: 1;
	}
}
