@mixin hr {
	color: $color-gray-darker;
	background-color: black;
	height: 1px;
	border: 0;
	margin-top: 3px;
	margin-bottom: 3px;
}

@mixin button() {
	@extend .btn;
	@extend .btn-default;
	background: $color-gray-lighter;
}

@mixin input($type: 'dark') {
	@extend .form-control;
	@if $type == 'dark' {
		color: white;
		background: rgba(black, .25);
	}
}
