// Own vars
$border-radius-base: 0;
$link-hover-decoration: none;

// Fonts
$font-serif: Georgia, 'Times New Roman', Times, serif;
$font-sans-serif: Verdana, Arial, Helvetica, sans-serif;
$font-monospace: Courier, monospace;
$font-size-base: 16px;
$fa-font-path: '../Fonts';

// Reds
$color-red-darker: #600;
$color-red-dark: #900;
$color-red: #c00;
$color-red-light: #f00;

// Pinks
$color-pink: #fcc;
$color-pink-light: #fee;

// Yellows
$color-yellow: #ff0;
$color-yellow-light: #ff9;

// Greens
$color-green: #060;
$color-green-light: #3f3;

// Blues
$color-blue: #2f6fab;
$color-blue-light: #e0e7f5;

// Browns
$color-brown-dark: #6b6355;
$color-brown: #8f8471;
$color-brown-light: #b4aea3;
$color-brown-lighter: #f3ecd5;
$color-brown-lightest: #fffff0;

// Shades of gray
$color-gray-darker: #333;
$color-gray-dark: #666;
$color-gray: #999;
$color-gray-light: #ccc;
$color-gray-lighter: #e6e6e6;
$color-gray-lightest: #fafafa;

// Named colors
$link-color: $color-red-darker;
$link-hover-color: $color-red-dark;
