// Colors: reds
$color-red-darker: #600;
$color-red-dark: #900;
$color-red: #c00;
$color-red-light: #f00;

// Colors: pinks
$color-pink: #fcc;
$color-pink-light: #fee;

// Colors: yellows
$color-yellow: #ff0;
$color-yellow-light: #ff9;

// Colors: greens
$color-green: #060;
$color-green-light: #3f3;

// Colors: blues
$color-blue: #2f6fab;
$color-blue-light: #e0e7f5;

// Colors: browns
$color-brown-dark: #6b6355;
$color-brown: #8f8471;
$color-brown-light: #b4aea3;
$color-brown-lighter: #f3ecd5;
$color-brown-lightest: #fffff0;

// Colors: shades of gray
$color-gray-darker: #333;
$color-gray-dark: #666;
$color-gray: #999;
$color-gray-light: #ccc;
$color-gray-lighter: #e6e6e6;
$color-gray-lightest: #fafafa;

// Named colors
$background-color: $color-gray-dark;
$border-color: $color-gray;
$link-color: $color-red-darker;
$link-hover-color: $color-red-dark;
$off-canvas-color: $color-gray-darker;
$text-color: $color-gray-darker;

// Fonts
$font-family-serif: 'Droid Serif', Georgia, serif;
$font-family-sans-serif: 'Droid Sans', Helvetica, Arial, sans-serif;
$font-monospace: Courier, monospace;
$font-size-base: 16px;
$line-height-base: 1.5;
$font-path: '../Fonts/';
$fa-font-path: '../Fonts'; // Required by Font Awesome. Note the lack of a trailing slash.
$img-path: '/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/';

// Layout
$topbar-height: 95px;
$topbar-height-xs: 55px;
$header-height: 175px;
$gutter: 15px;
$border-height: 100px; // Height of the SVG used for the top and bottom "wedges"
$wedge-height: 25px; // Inner height of the wedge that has to be filled with another background

// Base styles
$border: 1px dotted $border-color;
$border-radius-base: 0;
$link-hover-decoration: none;
