#welcome,
#breadcrumb {
	position: relative;
	width: 100%;
	background: #f3ecd5;
	margin-bottom: 10px;
	dd {
		color: #900;
	}
	dl {
		position: absolute;
		top: 7px;
		left: 60px;
		dd, dt {
			float: left;
			margin: 0 2px 0 0;
		}
	}
	a {
		border-bottom: none;
		font-weight: bold;
		color: #222;
		padding: 1px 2px;
		&:hover {
			border-bottom: none;
			background: #222;
			font-weight: bold;
			color: #fff;
			padding: 1px 2px;
		}
	}
}

#welcome {
	@include wedge('bottom', 'down', 40px, 20px, 100px);
	font-size: $font-size-large;
	p {
		font-family: $font_0, $font_1, $font_2, $font_3;
		font-weight: normal;
		font-style: italic;
		padding: 15px 100px 20px 80px;
		color: $color_log_cabin_approx;
		margin: 0;
		strong {
			color: #900;
		}
	}
}

#breadcrumb {
	height: 30px;
	dl dd .breadsep {
		margin: 0 0 0 2px;
		color: #222;
	}
}
