
/* ----------------- [ Fußzeile ] ----------------------------------------------------------- */

#totop {
	position: absolute;
	right: 45px;
	top: 10px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	color: #a99;
	border-bottom: none;
	padding: 0 30px 0 0;
}

#endborder {
	position: relative;
	top: 0;
	left: 0;
	width: 950px;
	clear: left;
	height: 200px;
	background: url(/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/endborder.png) no-repeat top center;
	#sysnav {
		position: absolute;
		top: 20px;
		left: 80px;
		height: 20px;
		border-left: 1px dotted #999;
		li {
			position: relative;
			float: left;
			top: 0;
			left: 0;
			height: 20px;
			padding: 0 10px 0 10px;
			border-right: 1px dotted #999;
			text-align: center;
			a {
				font-weight: bold;
				border-bottom: none;
				color: #999;
				&:hover {
					color: #fff;
				}
			}
		}
	}
	#dfglink {
		position: absolute;
		top: 75px;
		right: 100px;
		width: 500px;
		height: 30px;
		line-height: 30px;
		background: url(/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/bydfg.gif) no-repeat right center;
		display: block;
		overflow: hidden;
		border-bottom: none;
		text-align: right;
		color: #fff;
		padding: 0 73px 0 0;
	}
}

/* ----------------- [ / Fußzeile ] --------------------------------------------------------- */