/* ----------------- [ login (oben) Jochen ] ------------------------------------------ */
#login {
	position: absolute;
	top: 20px;
	/*    right:330px; */
	right: 0;
	/*    width:220px; */
	width: 320px;
	height: 68px;
	border-left: 1px dotted #ccc;
	padding-left: 16px;
	padding-top: 5px;
	#logintable {
		width: 260px;
	}
	#loginsubmit {
		border: none;
		/*    width:33px;
			height:14px; */
		font-size: 1.1em;
		/*    padding-left: 2px;
			padding-right: 2px; */
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 2px;
		padding-bottom: 2px;
		background: url(/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/inpbg_login.gif) no-repeat right;
		color: #fff;
	}
	#loginstatus {
		width: 180px;
		max-width: 180px;
		min-width: 180px;
		color: #b2aca6;
		overflow: hidden;
		text-decoration: none;
	}
	#logout {
		text-align: right;
	}
}

#login label, p {
	color: #b2aca6;
}

#login #pass,
#login #user {
	/*    width:84px; */
	width: 104px;
	height: 17px;
	background: url(/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/inpbg_login.gif) no-repeat right;
	border: none;
	font-size: 1.1em;
	color: #fff
}

#login #loginstatus a,
#login #loginstatus a:hover,
#login #loginstatus a:visited {
	color: #b2aca6;
	font-size: 1.1em;
	text-decoration: none;
	background: transparent;
}

#login a,
#login a:visited {
	color: #b2aca6;
	text-decoration: none;
}

#login a:hover {
	color: #fff;
	text-decoration: none;
	background: #900;
	border-bottom: none;
}

/* ----------------- [ / login (oben) ] ------------------------------------------ */