#login {

	@extend .small;
	@extend .col-md-offset-8;
	@extend .col-md-4;
	position: absolute;
	top: 16px;
	right: 0;
	border-left: 1px dotted #ccc;

	form {
		@extend .form-horizontal;
		.login-head {
			@extend .row;
			p {
				&.title {
					@extend .pull-left;
				}
				&.logged-in {
					@extend .pull-left;
				}
				&.lostpass {
					@extend .pull-right;
				}
			}
		}
		.form-group {
			label {
				@extend .control-label;
				@extend .col-md-4;
				font-weight: normal;
			}
			> div {
				@extend .col-sm-8;
				input {
					@include input('dark');
				}
			}
		}
		.loginsubmit {
			@include button('dark');
		}
	}

	label, p {
		color: #b2aca6;
	}

}

#pass,
#user {
	@include input;
}

#loginstatus {
	width: 180px;
	color: #b2aca6;
	overflow: hidden;
	text-decoration: none;
	a,
	a:hover,
	a:visited {
		color: #b2aca6;
		font-size: 1.1em;
		text-decoration: none;
		background: transparent;
	}
}

#login a,
#login a:visited {
	color: #b2aca6;
	text-decoration: none;
}

#login a:hover {
	color: #fff;
	text-decoration: none;
	background: #900;
	border-bottom: none;
}

#logout {
	text-align: right;
}