#login {
	@extend .col-md-offset-8;
	@extend .col-md-4;
	form {
		@extend .form-horizontal;
		.login-head {
			@extend .row;
			p {
				margin-bottom: 5px;
				&.title {
					@extend .pull-left;
					margin-left: 5px;
				}
				&.logged-in {
					@extend .pull-left;
				}
				&.lostpass {
					@extend .pull-right;
				}
			}
		}
		.form-group {
			margin-bottom: 0;
			padding-bottom: 7px;
			label {
				@extend .control-label;
				@extend .col-md-4;
				font-weight: normal;
				padding-top: 0;
			}
			input {
				&.loginsubmit {
					border: none;
					font-size: 1.1em;
					padding: 0 5px;
					background: #8b7f6d;
					color: #fff;
					margin-left: 10px;
				}
			}
		}
	}

	position: absolute;
	top: 16px;
	right: 0;
	border-left: 1px dotted #ccc;
	padding-left: 16px;
	padding-top: 5px;

	#loginstatus {
		width: 180px;
		max-width: 180px;
		min-width: 180px;
		color: #b2aca6;
		overflow: hidden;
		text-decoration: none;
	}
	#logout {
		text-align: right;
	}
	label, p {
		color: #b2aca6;
	}
}

#login #pass,
#login #user {
	background: #8b7f6d;
	border: none;
	font-size: 1.1em;
	color: #fff
}

#login #loginstatus a,
#login #loginstatus a:hover,
#login #loginstatus a:visited {
	color: #b2aca6;
	font-size: 1.1em;
	text-decoration: none;
	background: transparent;
}

#login a,
#login a:visited {
	color: #b2aca6;
	text-decoration: none;
}

#login a:hover {
	color: #fff;
	text-decoration: none;
	background: #900;
	border-bottom: none;
}
