.goobit3-image__title {
	font-size: $font-size-large;

	&--pdf {
		float: right;
		margin: 0 .5em;
		border: 0 !important;
		font-size: 2em;

		// TODO: fa fa-file-pdf-o
	}
}

.goobit3-image-viewer__image {
	clear: both;
	overflow: auto;
	border: $border-width solid $border-color;
	background: $color-gray-lighter;
	text-align: center;

	.highlight {
		color: $color-red-dark;
		text-decoration: none;
		font-weight: bold;
	}
}

.goobit3-image-viewer__controls {
	margin: $line-height 0;

	&--right {
		text-align: right;
	}

	button + button {
		margin-left: 1px;
	}
}

.goobit3-image-viewer__pagination {
	display: inline-block;
	margin: 0 $gutter;

	label {
		margin: 0 1px 0 0;
		vertical-align: middle;
	}

	@media (max-width: $screen-sm-max) {
		display: block;
	}
}
