.goobit3__purl {
	font-weight: bold;
}

.goobit3__lock {
	@include fa-icon('lock', false);
	border: 0 !important;
	color: $color-gray;
	float: right;
	font-size: 1.7em;

	@include hover {
		color: $link-hover-color;
	}

	&--open {
		@include fa-icon('unlock', false);
	}
}
