.goobit3-collection {
	margin: 0;
	list-style: none;
}

.goobit3-collection__heading,
.goobit3-collection__item {
	position: relative;

	a {
		display: block;
		padding-right: 1.25em;
		border: 0;

		@include hover {
			border: 0;
		}
	}

	.rss {
		position: absolute;
		right: 0;
		padding: 0;
		top: 0;
	}
}

.goobit3-collection__heading {
	margin-top: 0;
}

.goobit3-collection__item {
	@include clearfix;
	padding-left: 1.25em;

	@media (max-width: $screen-sm-max) {
		margin-bottom: $line-height / 2;
	}

	.rss {
		top: round($line-height / 5);
	}

	&::before {
		float: left;
		margin-left: -1.25em;
		color: $color-gray-light;
		content: ''; // chevron-right
		font-family: 'FontAwesome';
	}
}
