.goobit3-search {
	img {
		display: inline;
		border: 0;
		vertical-align: top;

		&.lock {
			margin-top: 1px;
		}

		&:hover {
			border: 0;
			background: $white;
		}
	}
}

.goobit3-search__form {
	position: relative;

	label {
		width: 100%;
	}
}

.goobit3-search__input {
	@include search-input;
}

.goobit3-search__hit-count {
	color: $text-color-light;
	font-size: $font-size-small;
	text-align: right;
}

.goobit3-search__submit {
	position: absolute;
	top: 0;
	right: 0;
	width: ($gutter * 2 - $border-width * 2 + $line-height);
	height: ($gutter * 2 - $border-width * 2 + $line-height);
	border: 0;
	background: none;
	font-size: $font-size-large;
	font-family: 'FontAwesome';

	@include hover {
		background: none;
		color: $link-hover-color;
	}
}
