.goobit3-toc__title {
	font-weight: bold;

	a {
		margin-right: 1em;
	}

	& + & {
		margin-top: $line-height;
		padding-top: $line-height - $border-width;
		border-top: $border;
	}
}

.goobit3-toc-item {
	@for $i from 1 through 5 {
		&.indent-#{$i * 20} {
			padding-left: ($i - 2) * 2em;
		}
	}

	a {
		margin-right: 1em;
	}
}

.goobit3-toc-item__page-number {
	float: right;
}

.goobit3-toc-item__pdf-link {
	@include fa-icon('file-pdf-o')
}

.goobit3-toc-item__current {
	background-color: $color-brown-lighter;
	font-weight: bold;
}

.goobit3-toc-item__space {
	float: left;
	// TODO: What is this? Sounds like a non-semantic element.
	vertical-align: top;
}
