.goobit3__purl {
	font-weight: bold;
}

.goobit3__lock {
	border: 0 !important;
	color: $color-gray;
	float: right;
	font-size: 1.7em;
	line-height: $line-height;

	@include hover {
		color: $link-hover-color;
	}

	&--small {
		font-size: 1em;
	}

	&--open {
		@include fa-icon('unlock', false);
	}

	&--closed {
		@include fa-icon('lock', false);
	}
}
