.goobit3-toc__title {
	font-weight: bold;

	a {
		margin-right: 1em;
	}

	& + & {
		margin-top: $line-height;
		padding-top: $line-height - $border-width;
		border-top: $border;
	}
}

.goobit3-toc-item {
	@include clearfix;

	&:nth-child(2n-1) {
		background: $color-gray-lightest;
	}

	@for $i from 1 through 5 {
		&--indent-#{$i * 20} {
			padding-left: ($i - 2) * 2em;
		}
	}
}

.goobit3-toc-item__link {
	&--pdf {
		@include fa-icon('file-pdf-o');
		border: 0 !important;
		margin-left: 1em;
	}
}

.goobit3-toc-item__page-number {
	float: right;
	margin-left: 1em;
}

.goobit3-toc-item__current {
	background-color: $color-brown-lighter;
	font-weight: bold;
}

.goobit3-toc-item__site-title {
	margin-right: .5em;
}

.goobit3-toc-item__site-year {
	margin-right: 1em;
}
