.goobit3-met__list {
	border-bottom: $border;
	display: table;
	list-style: none !important;
	margin-left: 0;
	padding-bottom: $line-height - $border-width;
	width: 100%;

	li {
		display: table-row;

		> span {
			display: table-cell;

			@media (max-width: $screen-sm-max) {
				display: block;
			}
		}
	}
}

.goobit3-met__item-label {
	font-weight: bold;
	padding-right: 1em;
	width: 20%;
}
