.goobit3-image__title {
	font-size: $font-size-large;

	&--pdf {
		@include fa-icon('file-pdf-o');
		float: right;
		margin-left: .5em;
		border: 0 !important;
		font-size: 2em;
	}
}

.goobit3-image-viewer__image {
	clear: both;
	overflow: auto;
	border: $border-width solid $border-color;
	background: $color-gray-lighter;
	text-align: center;

	.highlight {
		color: $color-red-dark;
		text-decoration: none;
		font-weight: bold;
	}
}

.goobit3-image-viewer__controls {
	margin-top: $line-height;

	&--right {
		text-align: right;
	}

	form > button,
	form > div {
		margin: 0 1px $gutter 0;
		vertical-align: top;

		&:last-child {
			margin-right: 0;
		}
	}

	form > div {
		padding: 0 $gutter;
	}
}

.goobit3-image-viewer__pagination {
	display: inline-block;
	margin: 0 $gutter;

	label {
		margin: 0 1px 0 0;
		vertical-align: middle;
	}

	@media (max-width: $screen-sm-max) {
		display: block;
	}
}

.goobit3-image-viever__overlay-icon {
	@include transition(color);
	color: $btn-default-bg;
	text-indent: -1em;

	:hover > & {
		color: $link-hover-color;
	}
}
