#welcome {
	background: $color-brown-lighter;
	font-size: $font-size-large;
	padding: $gutter ($gutter * 4);

	p {
		font-family: $font-family-serif;
		font-style: italic;
		color: $color-gray-darker;
		margin: 0;

		strong {
			color: $color-red-dark;
		}
	}
}
