#welcome {
	@include wedge('bottom', 'down', 40px, 20px, 100px);
	font-size: $font-size-large;

	p {
		font-family: $font-serif;
		font-weight: normal;
		font-style: italic;
		padding: 15px 100px 20px 80px;
		color: $color-gray-darker;
		margin: 0;

		strong {
			color: $color-red-dark;
		}
	}
}
