.blog {
	p {
		margin: 0;
	}
}

.blog__entry {
	@include clearfix;
	margin-bottom: ($line-height - $border-width);
	border-bottom: $border;
}

.blog__back-link {
	@include fa-icon('arrow-left', true)
}

.blog__heading {
	margin-top: 0;
	color: $color-red-dark;

	a {
		border: 0 !important;
	}
}

.blog__date {
	color: $color-gray-dark;
	font-weight: normal;
}

.blog__date-separator {
	display: inline-block;
	margin: 0 .5em;
	border-right: 1px solid $border-color;
	text-indent: -9999em;
}

.blog__image {
	display: inline;
	float: left;
	margin-right: 1em;
}

.blog__entry-heading {
	@extend .h2;
}

.blog__more-link {
	float: right;
	margin-left: 1em;
}
