.content {
	@include make-md-column(8);
	padding: 0 $gutter * 2;
	min-height: 30px;
	color: $color-gray-darker;

	@media (max-width: $screen-sm-max) {
		padding: 0;
	}

	a {
		border-bottom: $border-width solid $color-gray-light;

		@include hover {
			border-color: $link-hover-color;
		}
	}
}

.content--full-width {
	width: 100%;
}

.content__liner {
	position: relative;
	top: 0;
	left: 0;
	clear: left;
	width: 900px;
	height: 1px;
	border-top: $border;
}

.content__news-icon {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 35px;
	height: 40px;
	background: url('#{$img-path}newsicon.gif') no-repeat 0 0;
}


.content__hide-bib {
	position: absolute;
	right: -30px;
	bottom: 10px;
	overflow: hidden;
	width: 180px;
	height: 10px;
	border-bottom: 0;
	background: url('#{$img-path}hidebib.gif') no-repeat 0 0;
	text-indent: -2000px;
}

.content__show-bib {
	@extend .content__hide-bib;
	background-image: url('#{$img-path}showbib.gif');
}

.content__lock {
	display: block;
	overflow: hidden;
}

.content__object-separator {
	position: absolute;
	top: -20px;
	left: 0;
	width: 950px;
	height: 20px;
	background: url('#{$img-path}objsep.png') no-repeat top center;
}

.content__object-head {
	margin: 0 0 0 2px;
	padding: 4px 20px 3px 75px;
	max-width: 824px;
	border-bottom: $border;
	font-weight: bold;
}

.content__collection-object {
	a {
		border-bottom: none !important;
	}

	li {
		@extend .objecthead;
		font-weight: normal;
	}
}

.content__collection-end {
	position: relative;
	width: 950px;
	height: 20px;
	background: url('#{$img-path}objsep.png') no-repeat top center;
}

.content__address {
	img {
		display: inline;
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
	}

	li {
		padding: 0 0 7px;
		line-height: 1.6em;
	}

	.description {
		border-bottom: $border;
	}
}
