// TODO: Replace IDs with BEM classes

#fastsearch {
	position: absolute;
	top: 20px;
	right: 0;
	width: 320px;
	height: 68px;
	border-left: $border;

	#introtxt {
		position: absolute;
		top: 7px;
		left: 16px;
		overflow: hidden;
		width: 222px;
		height: 12px;
		color: $color-brown-light;
		font-size: 10px;
	}

	#searchstring {
		position: absolute;
		top: 20px;
		right: 15px;
		padding: 6px 0 0 10px;
		width: 280px;
		height: 28px;
		border: 0;
		background: url('#{$img-path}inpbg_fastsearch.gif') no-repeat 0 0;
		color: $white;
		font-size: 1.2em;
	}

	#send {
		position: absolute;
		top: 13px;
		right: 15px;
		display: block;
		overflow: hidden;
		width: 61px;
		height: 50px;
		border: 0;
		background: transparent url('#{$img-path}btn_fastsearch.png') no-repeat 0 0;
		color: $color-gray-light;
		text-indent: -2000px;
		font-size: 0;
	}
}
