.footer {
	@include clearfix;
	clear: both;
	margin-bottom: -$wedge-height;
	padding: ($gutter*2) $gutter ($wedge-height + 5px);
	background: $white;

	@media(max-width: $screen-sm-max) {
		padding: ($gutter*2) 0 ($gutter + $wedge-height + 5px);
	}

	a {
		border: 0;
		color: $color-gray;
		font-weight: bold;

		@include hover {
			color: $link-hover-color;
		}
	}

	ul {
		@include horizontal-link-list;
	}
}
