.footer {
	@include clearfix;
	clear: both;
	margin-bottom: -$wedge-height;
	padding: ($gutter*2) $gutter ($wedge-height + 5px);
	background: $white;

	a {
		border: 0;
		color: $color-gray;
		font-weight: bold;

		@include hover {
			color: $link-hover-color;
		}
	}

	ul {
		margin: 0;
		padding: 0 $gutter;
		list-style: none;
	}

	li {
		float: left;
		margin-right: .75em;
		padding-right: .75em;
		border-right: $border;

		&:last-child {
			border-right: 0;
		}
	}
}
