.language-nav {
	position: absolute;
	top: $gutter * 2;
	right: $gutter * 2;
	z-index: 9;

	@media (max-width: $screen-sm-max) {
		top: -$wedge-height - $gutter;
		right: $topbar-height-small + $gutter;
	}

	a {
		display: inline-block;
		padding: ($gutter / 3);
		border: 0;
		color: $white;
		text-decoration: none;
		line-height: 1;

		@include hover {
			border: 0;
			background: $white;
			color: $color-red-dark;
		}
	}
}
