.navigation {
	position: absolute;
	top: $topbar-height + $header-height - 25px;
	z-index: 11;
	display: block;
	padding: 0 $gutter;
	width: 100%;
	height: 40px;
	line-height: 40px;

	@media (max-width: $screen-sm-max) {
		padding: 0;

		@include off-canvas('left');
	}

	ul {
		float: left;
		margin: 0;
		padding: 10px $border-width;
		width: 100%;
		background: rgba(black, .15);

		@media (max-width: $screen-sm-max) {
			padding: 0;
			background: none;
		}
	}

	li {
		display: block;
		float: left;
		margin: 0;
		width: auto;
		border-right: $border;

		&:last-child {
			border-right: 0;
		}

		@media (max-width: $screen-sm-max) {
			float: none;
			border-right: 0;
			border-bottom: 1px solid $color-gray-dark;
		}
	}

	a {
		position: relative;
		display: block;
		margin: -10px (-$border-width);
		padding: 0 ($gutter + $border-width);
		border: 0;
		color: white;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		font-family: $font-family-sans-serif;

		@include hover {
			height: 100%;
			border: 0;
			background: $color-brown-lighter;
			color: $color-red-dark;
		}

		@media (max-width: $screen-sm-max) {
			margin: 0;
			padding: $gutter/2 $gutter;
			text-align: left;
		}

		&.act {
			background-image: url('#{$img-path}nav_act.svg');
			background-position: center bottom;
			background-repeat: no-repeat;

			@media (max-width: $screen-sm-max) {
				background: $active-color;
			}
		}
	}
}
