.sidebar {
	@include make-md-column(4);
	padding: ($gutter * 2) $gutter 0 ($gutter * 3);
	background: white url('#{$img-path}sidebar-border-left.png') ($line-height - 12px) repeat-y;

	@media (max-width: $screen-sm-max) {
		padding: 0;
		background: none;

		li br {
			display: none; // TODO: This should be removed completely
		}
	}

	h3 {
		margin-bottom: 10px;
		font-size: 1.6em;
	}

	h4 {
		color: $color-red-dark;
		font-size: 1.2em;
	}

	p {
		color: $color-gray-darker;
	}

	&::before {
		position: absolute;
		top: 0;
		left: ($line-height - 12px);
		width: 12px;
		height: 48px;
		background: url('#{$img-path}sidebar-border-left-top.png') no-repeat 0 0;
		content: '';

		@media (max-width: $screen-sm-max) {
			display: none;
		}
	}

	&::after {
		position: absolute;
		bottom: 0;
		left: ($line-height - 12px);
		width: 12px;
		height: 48px;
		background: url('#{$img-path}sidebar-border-left-bottom.png') no-repeat 0 0;
		content: '';

		@media (max-width: $screen-sm-max) {
			display: none;
		}
	}
}
