.to-top {
	@include button;
	position: fixed;
	right: $gutter;
	bottom: $wedge-wrapper-height;
	z-index: 15;
	width: $topbar-height-small;
	height: $topbar-height-small;
	border-right: 0;
	font-size: $font-size-large;
	opacity: 0;
	visibility: hidden;
}

.to-top--visible {
	opacity: 1;
	visibility: visible;
}
