.welcome {
	padding: $gutter ($gutter * 2);
	background: $color-brown-lighter;
	font-size: $font-size-large;
	margin-bottom: $line-height;

	@media (max-width: $screen-sm-max) {
		padding: $gutter;
	}

	p {
		margin: 0;
		color: $color-gray-darker;
		font-style: italic;
		font-family: $font-family-serif;
	}

	strong {
		color: $color-red-dark;
	}
}
