/*

CSS-Datei für die besondere Gestaltung im Inernet Explorer 6.
        - behebt PNG-Problematik via Ersetzung durch GIF-Dateien
        - Behebt Fehler durch die falsche Box-Model-Interpretation
        
*/

#homelink {
    background:url(/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/digilogo_ie6.gif) no-repeat 0 0;
}

.content { height:30px; }

.content,
#collection .coll_object {
    background:url(/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/bgwrapper_ie6.gif) repeat-y;
}

#fastsearch #send {
    background:transparent url(/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/btn_fastsearch_ie6.gif) no-repeat 0 0;
}

#headborder {
    background:url(/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/headborder_ie6.gif) no-repeat bottom center;
}
#pageborder_end {
    background:url(/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/tempheadborder_ie6.gif) no-repeat bottom center;
}

#endborder {
    background:url(/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/endborder_ie6.gif) no-repeat top center;
}

#pagenav {
    background:url(/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/tempborder_ie6.gif) no-repeat top center;
}

#maincol {
    margin:20px 20px 0px 44px;
}

#maincol,
#maincol_full {
    height:30px;
}

#welcome #cnose {
    bottom:-13px;left:63px;
}

.objsep, .collectionend {
    background:url(/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/objsep_ie6.gif) no-repeat top center;
}

#hidebib,
#showbib {
    position:absolute; right:-17px
}

.coll_object ul li,
.objecthead {
    width:918px;
}

.list li {
    height:1em;
}