// TODO: Move #welcome

#breadcrumb {
	background: $color-brown-lighter;
	line-height: 40px;
	padding: 0 .5em;

	dd,
	dt {
		display: inline-block;
		font-weight: normal;
		margin-right: .5em;
	}

	.breadsep {
		color: $color-gray-dark;
		font-size: $font-size-small;
		margin-left: .5em;
	}
}
