#welcome,
#breadcrumb {
	position: relative;
	width: 100%;
	background: $color-brown-lighter;
	margin-bottom: 10px;

	dd {
		color: $color-red-dark;
	}

	dl {
		position: absolute;
		top: 7px;
		left: 60px;

		dd, dt {
			float: left;
			margin: 0 2px 0 0;
		}
	}

	a {
		border-bottom: 0;
		font-weight: bold;
		color: $color-gray-darker;
		padding: 1px 2px;

		&:hover {
			border-bottom: 0;
			background: $color-gray-darker;
			font-weight: bold;
			color: white;
			padding: 1px 2px;
		}
	}
}

#breadcrumb {
	height: 30px;

	dl dd .breadsep {
		margin: 0 0 0 2px;
		color: $color-gray-darker;
	}
}
