#breadcrumb {
	background: $color-brown-lighter;
	line-height: 40px;
	margin-bottom: $line-height;
	padding: 0 .5em;

	dl {
		margin: 0;
	}

	dd,
	dt {
		display: inline-block;
		font-weight: normal;
		margin-right: .5em;
	}

	dt {
		color: $color-gray-dark;
	}

	.breadsep {
		color: $color-gray-dark;
		margin-left: .5em;
	}
}
