#colophon {
	padding: $wedge-height $gutter;
	position: relative;
	text-align: right;
	min-height: $wedge-wrapper-height - $gutter;
	z-index: 9;

	a {
		background: url("#{$img-path}bydfg.gif") no-repeat right -4px;
		border: 0;
		color: $color-brown-light;
		padding-right: 73px;

		@include hover {
			border-color: white;
			color: white;
		}
	}
}

#totop {
	@include button;
	border-right: 0;
	display: none;
	font-size: $font-size-large;
	position: fixed;
	right: 0;
	bottom: $wedge-wrapper-height;
	width: $topbar-height-small;
	height: $topbar-height-small;
	z-index: 15;
}
