#collection {
	list-style: none;
	margin: 0;

	.coll_object {
	}

	.closebook,
	.openbook {
		width: 22px;
		height: 22px;
		text-indent: -9999em;
		overflow: hidden;
		background: url('#{$img-path}closebook.gif') no-repeat 0 0;
	}

	.openbook {
		background-image: url('#{$img-path}openbook.gif');
	}

	.siteno {
		position: absolute;
		right: 200px;
		display: inline;
	}

	.siteyear {
		position: relative;
		left: 0;
	}

	.sitepdf {
		position: relative;
		left: 0;
		display: inline;
	}

	.sitepdf:hover {
		background: transparent;
	}

	.pdficon {
		vertical-align: middle;
	}
}
