#content {
	@include make-md-column(8);
	color: $color-gray-darker;
	min-height: 30px;
	padding: 0 $gutter * 2;

	@media (max-width: $screen-sm-max) {
		padding: 0;
	}

	&.full-width {
		width: 100%;
	}

	a {
		border-bottom: $border-width solid $color-gray-light;

		@include hover {
			border-color: $link-hover-color;
		}
	}

	ul {
		list-style: disc outside;
		margin-left: 2em;
	}
}

#liner {
	position: relative;
	top: 0;
	left: 0;
	width: 900px;
	height: 1px;
	border-top: $border;
	clear: left;
}

#newsicon {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 35px;
	height: 40px;
	background: url('#{$img-path}newsicon.gif') no-repeat 0 0;
}

#hidebib
#showbib {
	position: absolute;
	right: -30px;
	text-indent: -2000px;
	overflow: hidden;
	border-bottom: 0;
	right: -30px;
	bottom: 10px;
	width: 180px;
	height: 10px;
	background: url('#{$img-path}hidebib.gif') no-repeat 0 0;
}

#showbib {
	background-image: url('#{$img-path}showbib.gif');
}

#lock {
	position: absolute;
	top: -43px;
	left: -40px;
	width: 30px;
	height: 30px;
	overflow: hidden;
	display: block;
}

#collection {
	.coll_object {
		position: relative;
		top: 0;
		left: 0;
		width: 950px;
		clear: left;
		margin: 20px 0 0;
		padding: 0 0 6px 12px;
		background: url('#{$img-path}bgwrapper.png') repeat-y;
	}

	.closebook,
	.openbook {
		position: absolute;
		top: 0;
		right: 40px;
		width: 22px;
		height: 22px;
		text-indent: -2000px;
		overflow: hidden;
		border-bottom: 0;
		background: url('#{$img-path}closebook.gif') no-repeat 0 0;
	}

	.openbook {
		background-image: url('#{$img-path}openbook.gif');
	}

	.siteno {
		position: absolute;
		right: 200px;
		display: inline;
	}

	.siteyear {
		position: relative;
		left: 0;
		margin-right: 20px;
	}

	.sitepdf {
		position: relative;
		left: 0;
		display: inline;
		margin-left: 10px;
		margin-top: 2px;
		margin-right: 10px;
	}

	.sitepdf:hover {
		background: transparent;
	}

	.pdficon {
		vertical-align: middle;
		padding-bottom: 2px;
	}
}

.objsep {
	position: absolute;
	top: -20px;
	left: 0;
	width: 950px;
	height: 20px;
	background: url('#{$img-path}objsep.png') no-repeat top center;
}

.objecthead {
	max-width: 824px;
	border-bottom: $border;
	padding: 4px 20px 3px 75px;
	margin: 0 0 0 2px;
	font-weight: bold;
}

.coll_object {
	a {
		border-bottom: none !important;
	}

	ul li {
		@extend .objecthead;
		font-weight: normal;
	}
}

.collectionend {
	position: relative;
	width: 950px;
	height: 20px;
	background: url('#{$img-path}objsep.png') no-repeat top center;
}

#address {
	img {
		display: inline;
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
	}

	li {
		padding: 0 0 7px;
		line-height: 1.6em;
	}

	.description {
		border-bottom: $border;
	}
}

.preceeding {
	margin-left: 75px;
	margin-right: 75px;
}

img {
	border: 0;
}

.redirect {
	border: $color-blue 1px dashed;
	padding: 1em;
	color: black;
	line-height: 1.1em;
	background-color: $color-brown-lightest;
}

.icons {
	vertical-align: middle;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

.diff-r {
	color: $color-red-light;
}

.diff-g {
	color: $color-green;
}

.diff-result {
	border: $color-blue 1px dashed;
	padding: 1em;
	color: black;
	line-height: 1.1em;
	background-color: $color-gray-lightest;
	font-family: $font-monospace;
}

.diff-table {
	width: 100%;
}

.diff-table-cell-green {
	vertical-align: top;
	text-align: left;
	white-space: normal;
	color: $color-green;
	font-family: $font-monospace;
	font-size: 10pt;
	border: $color-blue 1px dashed;
	padding: 1em;
}

.diff-table-cell-red {
	vertical-align: top;
	text-align: left;
	white-space: normal;
	color: $color-red-light;
	font-family: $font-monospace;
	font-size: 10pt;
	border: $color-blue 1px dashed;
	padding: 1em;
}

#toc {
	border: $color-gray 1px solid;
	padding: 5px;
	font-size: 10pt;
	background-color: $color-gray-lightest;

	.tocindent {
		margin-left: 2em;
	}

	.tocline {
		margin-bottom: 0;
	}

	P {
		font-size: 10pt;
		margin: 0;
	}

	.toctoggle {
		font-size: 10pt;
	}

	.editsection {
		margin-top: .7em;
		font-size: 10pt;
	}
}

.list li {
	background: url('#{$img-path}listelement.gif') no-repeat 0 5px;
	padding: 0 0 0 $gutter;
	line-height: 1.6em;
}

.objecthead:hover {
	background: none;
	color: $color-red;
}

textarea:focus {
	background: $color-gray-lightest;
	color: $color-gray-darker;
	border-color: $color-gray-dark;
}

.news-list-morelink {
	float: right;
}
