#content {
	@include make-md-column(7);
	top: 0;
	left: 0;
	margin: 0 0 0 65px;
	color: $color-gray-darker;
	min-height: 30px;
	padding: 0 0 50px;

	.full-width {
		@include make-md-column(8);
		padding: 0;
	}
}

#liner {
	position: relative;
	top: 0;
	left: 0;
	width: 900px;
	height: 1px;
	border-top: 1px dotted $color-gray;
	clear: left;
}

h3 {
	font-family: $font-family-serif;
	font-style: italic;
	color: $color-red-dark;
	padding: 0 0 5px;
	border-bottom: 1px dotted $color-gray-light;
}

#blog {
	.entry {
		border-bottom: 1px dotted $color-gray-light;
		padding: 10px 0;

		h4 {
			color: $color-red-dark;

			.date {
				font-weight: normal;
				color: $color-gray-dark;
			}

			.datesep {
				width: 1px;
				color: white;
				border-right: 1px solid $color-gray-dark;
			}
		}
	}

	p {
		margin: 0;
	}
}

#newsicon {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 35px;
	height: 40px;
	background: url('/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/newsicon.gif') no-repeat 0 0;
}

#hidebib
#showbib {
	position: absolute;
	right: -30px;
	text-indent: -2000px;
	overflow: hidden;
	border-bottom: 0;
	right: -30px;
	bottom: 10px;
	width: 180px;
	height: 10px;
	background: url('/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/hidebib.gif') no-repeat 0 0;
}

#showbib {
	background-image: url('/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/showbib.gif');
}

#lock {
	position: absolute;
	top: -43px;
	left: -40px;
	width: 30px;
	height: 30px;
	overflow: hidden;
	display: block;
}

#collection {
	.coll_object {
		position: relative;
		top: 0;
		left: 0;
		width: 950px;
		clear: left;
		margin: 20px 0 0;
		padding: 0 0 6px 12px;
		background: url('/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/bgwrapper.png') repeat-y;
	}

	.closebook,
	.openbook {
		position: absolute;
		top: 0;
		right: 40px;
		width: 22px;
		height: 22px;
		text-indent: -2000px;
		overflow: hidden;
		border-bottom: 0;
		background: url('/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/closebook.gif') no-repeat 0 0;
	}

	.openbook {
		background-image: url('/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/openbook.gif');
	}

	.siteno {
		position: absolute;
		right: 200px;
		display: inline;
	}

	.siteyear {
		position: relative;
		left: 0;
		margin-right: 20px;
	}

	.sitepdf {
		position: relative;
		left: 0;
		display: inline;
		margin-left: 10px;
		margin-top: 2px;
		margin-right: 10px;
	}

	a.sitepdf:hover {
		background: transparent;
	}

	img.pdficon {
		vertical-align: middle;
		padding-bottom: 2px;
	}
}

.objsep {
	position: absolute;
	top: -20px;
	left: 0;
	width: 950px;
	height: 20px;
	background: url('/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/objsep.png') no-repeat top center;
}

.objecthead {
	max-width: 824px;
	border-bottom: 1px dotted $color-gray-light;
	padding: 4px 20px 3px 75px;
	margin: 0 0 0 2px;
	font-weight: bold;
}

.coll_object {
	a {
		border-bottom: none !important;
	}

	ul li {
		@extend .objecthead;
		font-weight: normal;
	}
}

.collectionend {
	position: relative;
	width: 950px;
	height: 20px;
	background: url('/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/objsep.png') no-repeat top center;
}

#address {
	img {
		display: inline;
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
	}

	li {
		padding: 0 0 7px;
		line-height: 1.6em;
	}

	p.description {
		border-bottom: 1px dotted $color-gray;
	}
}

.preceeding {
	margin-left: 75px;
	margin-right: 75px;
}

img {
	border: 0;
}

.redirect {
	border: $color-blue 1px dashed;
	padding: 1em;
	color: black;
	line-height: 1.1em;
	background-color: $color-brown-lightest;
}

.icons {
	vertical-align: middle;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

.diff-r {
	color: $color-red-light;
}

.diff-g {
	color: $color-green;
}

.diff-result {
	border: $color-blue 1px dashed;
	padding: 1em;
	color: black;
	line-height: 1.1em;
	background-color: $color-gray-lightest;
	font-family: $font-monospace;
}

.diff-table {
	width: 100%;
}

.diff-table-cell-green {
	vertical-align: top;
	text-align: left;
	white-space: normal;
	color: $color-green;
	font-family: $font-monospace;
	font-size: 10pt;
	border: $color-blue 1px dashed;
	padding: 1em;
}

.diff-table-cell-red {
	vertical-align: top;
	text-align: left;
	white-space: normal;
	color: $color-red-light;
	font-family: $font-monospace;
	font-size: 10pt;
	border: $color-blue 1px dashed;
	padding: 1em;
}

#toc {
	border: $color-gray 1px solid;
	padding: 5px;
	font-size: 10pt;
	background-color: $color-gray-lightest;

	.tocindent {
		margin-left: 2em;
	}

	.tocline {
		margin-bottom: 0;
	}

	P {
		font-size: 10pt;
		margin: 0;
	}

	.toctoggle {
		font-size: 10pt;
	}

	.editsection {
		margin-top: .7em;
		font-size: 10pt;
	}
}

.list li {
	background: url('/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/listelement.gif') no-repeat 0 5px;
	padding: 0 0 0 15px;
	line-height: 1.6em;
}

a.objecthead:hover {
	background: none;
	color: $color-red;
}

#mydigizeit_filter hr {
	color: white;
	background: white;
	border: 0 solid white;
	border-bottom: 1px dotted $color-gray-light;
}

textarea:focus {
	background: $color-gray-lightest;
	color: $color-gray-darker;
	border-color: $color-gray-dark;
}
