#footer {
	@include clearfix;
	background: white;
	clear: both;
	margin-bottom: -$wedge-height;
	padding: ($gutter*2) 0 ($wedge-height + 5px);

	a {
		border: 0;
		font-weight: bold;
		color: $color-gray;

		@include hover {
			color: $link-hover-color;
		}
	}

	ul {
		padding-left: $gutter;

		li {
			border-right: $border;
			float: left;
			margin-right: .75em;
			padding-right: .75em;

			&:last-child {
				border-right: 0;
			}
		}
	}

}
