#footer {
	@include clearfix;
	background: white;
	clear: both;
	margin-bottom: -$wedge-height;
	padding: ($gutter*2) 0 ($wedge-height + 5px);

	ul {
		padding-left: $gutter;

		li {
			border-right: $border;
			float: left;
			margin-right: .5em;
			padding-right: .5em;

			&:last-child {
				border-right: 0;
			}
		}
	}

	a {
		font-weight: bold;
		border-bottom: 0;
		color: $color-gray;

		&:hover {
			color: $link-hover-color;
		}
	}

}

#totop {
	@include button;
	display: none;
	font-size: $font-size-large;
	position: fixed;
	right: $gutter;
	bottom: 90px;
	width: $topbar-height-xs;
	height: $topbar-height-xs;
	z-index: 15;
}
