#totop {
	position: absolute;
	right: 45px;
	top: 10px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	color: $color-brown;
	border-bottom: 0;
	padding: 0 30px 0 0;
}

#footer {
	position: relative;
	height: 200px;
	background: url('/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/endborder.png') no-repeat top center;
	background-size: 100% auto;

	#sysnav {
		position: absolute;
		top: 20px;
		left: 80px;
		height: 20px;
		border-left: 1px dotted $color-gray;

		li {
			position: relative;
			float: left;
			top: 0;
			left: 0;
			height: 20px;
			padding: 0 10px;
			border-right: 1px dotted $color-gray;
			text-align: center;

			a {
				font-weight: bold;
				border-bottom: 0;
				color: $color-gray;

				&:hover {
					color: white;
				}
			}
		}
	}

	#dfglink {
		position: absolute;
		top: 75px;
		right: 100px;
		width: 500px;
		height: 30px;
		line-height: 30px;
		background: url('/typo3conf/ext/tmpl_digizeit/Resources/Public/Images/Layout/bydfg.gif') no-repeat right center;
		display: block;
		overflow: hidden;
		border-bottom: 0;
		text-align: right;
		color: white;
		padding: 0 73px 0 0;
	}
}
