#header {
	//background: url('#{$img-path}headerpic.png') no-repeat 0 0;
	background: linear-gradient(60deg, $color-red-darker, $color-red-dark);
	height: $header-height + $wedge-height;
	margin-top: -$wedge-height;
	padding-top: $wedge-height;
	position: relative;
	@media (max-width: $screen-xs-max) {
		height: 150px;
	}

	h1 {
		margin: 0;
		position: absolute;
		top: $gutter * 4;
		left: $gutter * 2;
		height: 80px;
		width: 400px;
		//background: url('#{$img-path}digizeit_logo.png') no-repeat 0 0;
		background: url('#{$img-path}digizeit-logo.svg') no-repeat 0 0;
		background-size: 400px;
		text-indent: -9999px;
		overflow: hidden;
		border-bottom: 0;
	}

	.tagline {
		text-indent: -9999px;
	}
}
