#header {
	background: linear-gradient(60deg, $color-red-darker, $color-red-dark);
	height: $header-height + $wedge-height;
	margin-top: -$wedge-height;
	padding-top: $wedge-height;
	position: relative;
	@media (max-width: $screen-sm-max) {
		height: 150px;
	}

	h1 {
		margin: 0;
		position: relative;
		top: $gutter * 2;
		left: $gutter * 2;
		height: 60px;
		width: 400px;
		background: url('#{$img-path}digizeit-logo.svg') 0 bottom no-repeat;
		background-size: contain;
		text-indent: -9999px;
		overflow: hidden;

		@media (max-width: $screen-sm-max) {
			left: 5%;
			max-width: 90%;
		}

		a {
			border: 0;
			display: block;
			height: 100%;
		}
	}

	.tagline {
		text-indent: -9999px;
	}
}
