#lang_nav {
	position: absolute;
	top: $gutter * 2;
	right: $gutter * 2;
	z-index: 9;

	@media (max-width: $screen-sm-max) {
		top: -$wedge-height - $gutter;
		left: $topbar-height-small + $gutter;
		right: auto;
	}

	a {
		border: 0;
		color: white;
		display: inline-block;
		line-height: 1;
		text-decoration: none;
		padding: ($gutter / 3);

		@include hover {
			border: 0;
			color: $color-red-dark;
			background: white;
		}
	}
}
