#lang_nav {
	position: absolute;
	top: $gutter * 2;
	right: $gutter * 2;
	z-index: 9;

	a {
		color: white;
		display: inline-block;
		line-height: 1;
		text-decoration: none;
		padding: 5px;
		transition: all .5s;

		&:hover {
			color: $color-red-dark;
			background: white;
		}
	}
}
