#login {
	@extend .pull-right;
	@extend .small;
	color: $color-brown-light;
	padding: $gutter;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 11;

	@media (max-width: $screen-sm-max) {
		@include off-canvas('right');
	}

	a {
		border: 0;
		color: $color-brown-light;
		text-decoration: none;

		@include hover {
			border-color: white;
			color: white;
		}
	}

	form {
		@extend .form-inline;
	}

	.login-foot {
		text-align: right;
		margin-top: 5px;
	}

	.form-group {
		margin-right: .5em;

		@media (max-width: $screen-sm-max) {
			margin-right: 0;
		}

		[type=text],
		[type=password] {
			@include input('dark');
		}
	}

	.loginsubmit {
		@include button;
	}

	label,
	p {
		color: $color-brown-light;
	}

}

#pass,
#user {
	@include input;
}
