#login {
	@extend .pull-right;
	@extend .small;
	color: $color-brown-light;
	padding: $gutter;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 11;

	@media (max-width: $screen-xs-max) {
		height: 100%;
		background: $off-canvas-color;
		top: 0;
		right: 0;
		width: 61.8%;
		z-index: 0;

		&.active {
			z-index: 1;
		}
	}

	a,
	a:hover,
	a:visited {
		color: $color-brown-light;
		text-decoration: none;
	}

	a:hover {
		border-color: white;
		color: white;
	}

	form {
		@extend .form-inline;
	}

	.login-foot {
		text-align: right;
		margin-top: 5px;
	}

	.form-group {
		margin-right: .5em;

		@media (max-width: $screen-xs-max) {
			margin-right: 0;
		}

		input {
			@include input('dark');
		}
	}

	.loginsubmit {
		@include button();
	}

	label,
	p {
		color: $color-brown-light;
	}

}

#pass,
#user {
	@include input;
}
