#login {
	@extend .pull-right;
	@extend .small;
	padding: $gutter;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 11;

	@media (max-width: $screen-xs-max) {
		height: 100%;
		background: $off-canvas-color;
		top: 0;
		right: 0;
		width: 75%;
		z-index: 0;
		&.active {
			z-index: 1;
		}
	}

	form {
		@extend .form-inline;
	}

	.login-foot {
		.logged-in,
		.lostpass {
			@extend .pull-right;
			margin-top: 5px;
		}
	}

	.form-group {
		input {
			@include input('dark');
		}
	}

	.loginsubmit {
		@include button('dark');
	}

	label,
	p {
		color: $color-brown-light;
	}

}

#pass,
#user {
	@include input;
}

#loginstatus {
	width: 180px;
	color: $color-brown-light;
	overflow: hidden;
	text-decoration: none;

	a,
	a:hover,
	a:visited {
		color: $color-brown-light;
		font-size: 1.1em;
		text-decoration: none;
		background: transparent;
	}
}

#login a,
#login a:visited {
	color: $color-brown-light;
	text-decoration: none;
}

#login a:hover {
	border-color: white;
	color: white;
}

#logout {
	text-align: right;
}
