#main {
	@include clearfix;
	background-color: white;
	position: relative;
	box-shadow: 0 0 25px rgba(black, .5);
	display: block;
	padding: $gutter;

	&::before,
	&::after {
		content: '';
		position: absolute;
	}

	&::before {
		background: url('#{$img-path}headborder.svg') no-repeat left top;
		left: 0;
		height: 100px;
		width: 100%;
		top: -85px;
		z-index: 8;
	}

	&::after {
		position: absolute;
		background: url("#{$img-path}footborder.svg") no-repeat right bottom;
		left: 0;
		height: 100px;
		width: 100%;
		z-index: 8;
	}

	table {
		@extend .table;
	}
}
