#nav {
	background: rgba(black, .15);
	position: relative;
	height: 40px;
	line-height: 40px;
	margin-top: -40px;
	display: block;
	padding: 10px 0;
	width: 100%;

	ul {
		padding: 0;
	}

	li {
		border-right: 1px dotted white;
		float: left;
		display: block;
		width: auto;
	}

	a {
		position: relative;
		display: block;
		color: white;
		text-align: center;
		font-weight: bold;
		font-size: 14px;
		text-transform: uppercase;
		font-family: $font-family-sans-serif;
		margin: -10px 0;
		padding: 0 15px;

		&:hover {
			background: $color-brown-lighter;
			color: $color-red-dark;
			height: 100%;
		}

		&.act {
			@include wedge('bottom', 'up', 20px, 10px);
		}
	}
}
