#navigation {
	position: absolute;
	height: 40px;
	line-height: 40px;
	display: block;
	padding: 0 $gutter;
	top: $topbar-height + $header-height - 25px;
	width: 100%;
	z-index: 11;

	@media (max-width: $screen-sm-max) {
		height: 100%;
		background: $off-canvas-color;
		padding: 0;
		top: 0;
		width: 61.8%;
		z-index: 0;

		&.active {
			z-index: 1;
		}
	}

	ul {
		background: rgba(black, .15);
		float: left;
		padding: 10px $border-width;
		width: 100%;
		@media (max-width: $screen-sm-max) {
			background: none;
			padding: 0;
		}
	}

	li {
		border-right: $border;
		display: block;
		float: left;
		margin: 0;
		width: auto;

		&:last-child {
			border-right: 0;
		}

		@media (max-width: $screen-sm-max) {
			border-right: 0;
			border-bottom: 1px solid $color-gray-dark;
			float: none;
		}
	}

	a {
		border: 0;
		position: relative;
		display: block;
		color: white;
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
		font-family: $font-family-sans-serif;
		margin: -10px (-$border-width);
		padding: 0 ($gutter + $border-width);
		@media (max-width: $screen-sm-max) {
			margin: 0;
			padding: $gutter/2 $gutter;
			text-align: left;
		}

		&.act {
			background: url('#{$img-path}nav_act.svg') center bottom no-repeat;
			@media (max-width: $screen-sm-max) {
				background: $color-brown-dark;
			}
		}

		&:active,
		&:focus,
		&:hover {
			background: $color-brown-lighter;
			border: 0;
			color: $color-red-dark;
			height: 100%;
		}
	}
}
