#sidebar {
	@include make-md-column(4);
	background: white url('#{$img-path}sidebarborder.gif') repeat-y;
	padding: 0 $gutter 0 ($gutter * 3);

	@media (max-width: $screen-sm-max) {
		background: none;
		padding: 0;

		li br {
			display: none; // TODO: This should be removed completely
		}
	}

	h3 {
		font-size: 1.6em;
		margin-bottom: 10px;
	}

	h4 {
		font-size: 1.2em;
		color: $color-red-dark;
	}

	p {
		color: $color-gray-darker;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		width: 20px;
		height: 50px;
		top: 0;
		background: url('#{$img-path}sidebarborder_top.gif') no-repeat 0 0;
		@media (max-width: $screen-sm-max) {
			display: none;
		}
	}

	&::after {
		content: '';
		position: absolute;
		left: 0;
		width: 20px;
		height: 50px;
		bottom: 0;
		background: url('#{$img-path}sidebarborder_end.gif') no-repeat 0 0;
		@media (max-width: $screen-sm-max) {
			display: none;
		}
	}
}
