#submenu,
.csc-menu {
	margin: 0 ($gutter * 2);
	overflow: hidden;

	li {
		border-right: $border;
		float: left;
		margin: 0 .5em 1em 0;
		padding-right: .5em;

		&:last-child {
			border-right: 0;
		}

		&.subnavsep {
			display: none;
		}
	}

	a {
		font-weight: bold;

		&.sub_act {
			color: $color-gray;
		}
	}
}

.csc-menu {
	margin: 0; // TODO
}
