#submenu {
	position: relative;
	top: 0;
	left: 0;
	width: auto;
	height: 30px;
	overflow: hidden;
	margin: 20px 0 0 60px;
	font-size: 1.2em;

	li {
		position: relative;
		top: 0;
		left: 0;
		float: left;
		margin: 0 5px 0 0;

		&.subnavsep {
			position: relative;
			top: 2px;
			left: 0;
			width: 5px;
			height: 14px;
			border-right: 1px solid $color-gray-darker;
			display: block;
			float: left;
		}
	}

	a {
		border-bottom: 0;
		color: $color-gray-darker;
		float: left;

		&:hover {
			border-bottom: 0;
			background: $color-red-dark;
			color: #fff;
			float: left;
		}

		&.sub_act {
			font-weight: bold;
			color: $color-red-dark;

			&:hover {
				font-weight: bold;
				background: $color-red-dark;
				color: white;
			}
		}
	}
}
