#welcome {
	background: $color-brown-lighter;
	font-size: $font-size-large;
	padding: $gutter ($gutter * 2);

	@media (max-width: $screen-sm-max) {
		padding: $gutter;
	}

	p {
		font-family: $font-family-serif;
		font-style: italic;
		color: $color-gray-darker;
		margin: 0;

		strong {
			color: $color-red-dark;
		}
	}

}
