<!-- ###DOCUMENT_BODY### START -->
<!-- ###cslogin### START -->
<!-- ###cslogin### STOP -->
<!--  ######################### [ POSITIONIERUNG ] ##################################################################################################  //-->
        <a id="a_top"></a>
        <div class="wrapper">
            <div id="bgicon"></div>
            <div id="linebook"></div>
            <div id="headborder"></div>
            <div class="content">


<!--  ######################### [ HEADERBEREICH ] ###################################################################################################  //-->
                <div id="header">
                    <h1><a href="http://www.digizeitschriften.de###START###" title="zur Startseite springen" id="homelink">DigiZeitschriften</a></h1>
                    <h2>Das deutsche digitale Zeitschriftenarchiv</h2>
                </div>

<!--  ######################### [ SPRACHEN NAVIGATION ] ###################################################################################################  //-->
                <div id="lang_nav">
                    <!-- ###lang_selector### START -->
                    <!-- ###lang_selector### STOP -->
                </div>

<!--  ######################### [ NAVIGATION ] ######################################################################################################  //-->
                <a id="a_nav"></a>
                <div id="nav">
                    <h3>Navigation</h3>
                    <ul>
                        <!-- ###menu### START -->
                        <!-- ###menu### STOP -->
                    </ul>
                </div>			
 
<!--  ######################### [ BREADCRUM ] #######################################################################################################  //-->
                <!-- ###breadcrumb### START -->
                <!-- ###breadcrumb### STOP -->

                <!-- ###submenu### STart -->
                <!-- ###submenu### STOP -->

<!--  ######################### [ INHALT ] ##########################################################################################################  //-->
                <a id="a_content"></a>
                <div id="maincol_full">
                    <!-- ###maincaption### START -->
                    <!-- ###maincaption### STOP -->
                    ###HLINE###

                    <!-- ###maincontent### START -->
                    <!-- ###maincontent### STOP -->
                </div>
                <div id="liner"></div>
            </div>
            

<!--  ######################### [ DIREKTSUCHE ] #####################################################################################################  //-->	
<!--
<a id="a_search"></a>
            <div id="fastsearch">
                <h3>###DIREKTSUCHE###</h3>
                <p id="introtxt">###SEARCHINTROTEXT###</p>
                <form action="/suche/ssearch/" method="post" enctype="multipart/form-data">
                    <label for="searchstring">Suchwort</label>
                    <input type="text" id="searchstring" name="formquery" value="###DIREKTSUCHE###" onclick="this.value = '';" />
                    <input type="submit" id="send" value="Suchen" />
                </form>
            </div>
//-->
<!--  ######################### [ Login ] #####################################################################################################  //-->	
            <div id="login">
                ###FELOGIN###
            </div>

<!--  ######################### [ FUSSZEILE ] #######################################################################################################  //-->
            <div id="endborder">
                <ul id="sysnav">
                <!-- ###footmenu### START -->
                <!-- ###footmenu### STOP -->
                <li>###printview###</li>
                </ul>
                    ###TOTOPLINK###
                    <a href="http://www.dfg.de" target="_balnk"  title="DFG -link" id="dfglink">###DFGLINKTEXT###</a>
            </div>
        </div>

<!-- ###DOCUMENT_BODY### STOP -->
