<form class="login__form" name="login" method="post" action="{f:uri.page()}">

	<f:if condition="{loggedIn}">
		<f:then>
			<div class="login__form-group">
				<i class="fa fa-user"></i>
				<f:link.page pageUid="{myDigiZeit}" title="{loggedIn}">{loggedIn}</f:link.page>
			</div>
			<input class="login__submit" type="submit" class="login__submit" value="{loginType}"/>
		</f:then>
		<f:else>
			<div class="login__form-group">
				<input class="login__input" name="user" id="user" placeholder="{f:translate(key: 'LLL:EXT:tmpl_digizeit/Resources/Private/Language/locallang.xlf:item_username')}" type="text">
			</div>
			<div class="login__form-group">
				<input class="login__input" name="pass" id="pass" placeholder="{f:translate(key: 'LLL:EXT:tmpl_digizeit/Resources/Private/Language/locallang.xlf:item_password')}" type="password">
			</div>
			<input class="login__submit" type="submit" value="{loginType}"/>
		</f:else>
	</f:if>

	<f:if condition="{loggedIn}">
		<f:else>
			<p class="login__footer">
				<f:link.page pageUid="{f:cObject(typoscriptObjectPath:'lib.forgotPasswordPageUid')}" additionalParams="{tx_felogin_pi1: {forgot: 1}}">
					<f:translate key="LLL:EXT:tmpl_digizeit/Resources/Private/Language/locallang.xlf:item_lostpass"/>
				</f:link.page>
			</p>
		</f:else>
	</f:if>

	<input type="hidden" name="logintype" value="{loginType}"/>
	<input type="hidden" name="pid" value="{storagePid}"/>
	<input type="hidden" name="redirect_url" value=""/>

</form>
