<!-- ###NOSEARCHINDEX### BEGIN-->
	<span class="warning">###WARNMESSAGE###</span>
<!-- ###NOSEARCHINDEX### END-->

<!-- ###BROWSECOLLECTION### BEGIN-->
<div  id="tx_goobit3_pi2">
	<ul>
    <!-- ###COLLECTIONLIST### BEGIN-->
		<li class="browsecollection">
            <a href='/rss/###DDC###' target="_blank" style="border: none; vertical-align: middle"><img src="###RSSICON###" style="display: inline;" title="RSS Feed" alt="RSS Feed"></a>&nbsp;###COLLECTION###
        </li>
		###CATEGORY###
    <!-- ###COLLECTIONLIST### END -->
	</ul>
</div>
<!-- ###BROWSECOLLECTION### END-->
