<!-- ###NOSEARCHINDEX### BEGIN-->
    <div id="tx-goobit3-search">
    	<span class="warning">###WARNMESSAGE###</span>
    </div>
<!-- ###NOSEARCHINDEX### END-->
    ###TESTURL###

<!-- ###SSEARCH### BEGIN-->
    <div id="tx-goobit3-search">
        <div align="center">
            <!-- ###BROWSEBARTOP### START -->
                ###RESULTFIRSTPRE###&nbsp;###RESULTPREVPRE###&nbsp;<b>###RESULTLINK###</b>&nbsp;###RESULTNEXTPOST###&nbsp;###RESULTLASTPOST###
            <!-- ###BROWSEBARTOP### END -->
        </div>
        <br />
    <!-- ###SSEARCHHIT### BEGIN-->
                    <b>###TITLE###</b>&nbsp;###PUBLISHER###<!-- ###MOVINGWALL_PRE### &nbsp(Moving Wall: ###MOVINGWALL###) ###MOVINGWALL_POST### //--><br />
        <!-- ###SSEARCHHIT### END -->
        <br />
        <br />
    </div>
<!-- ###SSEARCH### END-->
