<f:render partial="Navigation"/>

<f:render partial="Login"/>

<div class="wrapper">

	<f:render partial="Topbar"/>

	<div class="main">

		<f:render partial="Header" />

		<f:render partial="Language" arguments="{_all}"/>

		<f:cObject typoscriptObjectPath="page.10.subparts.breadcrumb" />

		<f:cObject typoscriptObjectPath="page.10.subparts.submenu" />

		<f:render partial="Content" />

		<f:render partial="Sidebar" />

		<f:render partial="Footer" />

	</div>

	<f:render partial="Colophon"/>

</div>
