<!--- ###PDFTITLEPAGE### BEGIN --><?xml version="1.0" encoding="UTF-8"?>
<chapter numberdepth="0">
	<title size="0.0001" color="white">Nutzungsbedingungen / Terms of use</title>
	<section indentationleft="42" indentationright="42" numberdepth="0">
		<image url="http://www.digizeitschriften.de/fileadmin/layout/logo_pdftitlepage.jpg" plainwidth="210" plainheight="115"  absolutex="320" absolutey="672"/>
		<!-- put in here dynamic content -->
		<paragraph indentationright="310" size="10"><chunk size="12" style="bold">###PARENT###</chunk>
			<newline/>
			<newline/>###TITLE###
			<newline/>###CREATOR###
			<newline/>###STRUCTRUN###
			<newline/>###PAGES###
		</paragraph>
		<!-- end of dynamic content -->
		<paragraph size="12" style="bold">Nutzungsbedingungen</paragraph>
		<paragraph size="10">DigiZeitschriften e.V. gewährt ein nicht exklusives, nicht übertragbares, persönliches und beschränktes Recht auf Nutzung dieses Dokuments. Dieses Dokument ist ausschließlich für den persönlichen, nicht kommerziellen Gebrauch bestimmt. Das Copyright bleibt bei den Herausgebern oder sonstigen Rechteinhabern. Als Nutzer sind Sie sind nicht dazu berechtigt, eine Lizenz zu übertragen, zu transferieren oder an Dritte weiter zu geben.
			<newline/>Die Nutzung stellt keine Übertragung des Eigentumsrechts an diesem Dokument dar und gilt vorbehaltlich der folgenden Einschränkungen:
			<newline/>Sie müssen auf sämtlichen Kopien dieses Dokuments alle Urheberrechtshinweise und sonstigen Hinweise auf gesetzlichen Schutz beibehalten; und Sie dürfen dieses Dokument nicht in irgend einer Weise abändern, noch dürfen Sie dieses Dokument für öffentliche oder kommerzielle Zwecke vervielfältigen, öffentlich ausstellen, aufführen, vertreiben oder anderweitig nutzen; es sei denn, es liegt Ihnen eine schriftliche Genehmigung von DigiZeitschriften e.V. und vom Herausgeber oder sonstigen Rechteinhaber vor.
			<newline/>Mit dem Gebrauch von DigiZeitschriften e.V. und der Verwendung dieses Dokuments erkennen Sie die Nutzungsbedingungen an.
		</paragraph>
		<paragraph size="12" style="bold">Terms of use</paragraph>
		<paragraph size="10">DigiZeitschriften e.V. grants the non-exclusive, non-transferable, personal and restricted right of using this document. This document is intended for the personal, non-commercial use. The copyright belongs to the publisher or to other copyright holders. You do not have the right to transfer a licence or to give it to a third party.
			<newline/>Use does not represent a transfer of the copyright of this document, and the following restrictions apply:
			<newline/>You must abide by all notices of copyright or other legal protection for all copies taken from this document; and You may not change this document in any way, nor may you duplicate, exhibit, display, distribute or use this document for public or commercial reasons unless you have the written permission of DigiZeitschriften e.V. and the publisher or other copyright holders.
			<newline/>By using DigiZeitschriften e.V. and this document you agree to the conditions of use.
		</paragraph>
		<paragraph size="10"><chunk size="12" style="bold">Kontakt / Contact</chunk>
			<newline/>DigiZeitschriften e.V.
			<newline/>Papendiek 14
			<newline/>37073 Goettingen
			<newline/>Email: info@digizeitschriften.de
	   </paragraph>
	</section>
</chapter>
<!--- ###PDFTITLEPAGE### END -->

