<f:cObject typoscriptObjectPath="page.10.subparts.cslogin"/>

<f:render partial="Login"/>

<div id="wrapper">

	<f:render partial="Header"/>

	<f:render partial="Language"/>

	<f:render partial="Navigation"/>

	<f:cObject typoscriptObjectPath="page.10.subparts.breadcrumb"/>

	<f:cObject typoscriptObjectPath="page.10.subparts.submenu"/>

	<div id="content">

		<h3>{maincaption}</h3>

		<f:cObject typoscriptObjectPath="page.10.marks.HLINE"/>

		<f:cObject typoscriptObjectPath="page.10.subparts.maincontent"/>

		<br/><br/>
		<f:render partial="Sidebar"/>

	</div>

</div>

<f:render partial="Footer"/>